<section class="hero _is-medium">
				<div class="hero-body">
					<div class="container is-fullhd">
					    <div class="columns is-multiline _is-vcentered">

							<div class="column is-6-desktop is-6-fullhd">
								<div class="content">
								{{ if (ne .Params "preheading" "") }}
									<div class="" data-aos="fade-down">
									  <span class="pre-heading" data-aos="fade-left">
									    {{ if .Params.preheading }}
											{{- .Params.preheading -}}
										{{ else }}
											{{ .Site.Params.slogan }}
										{{ end }}
									  </span>
									</div>
								{{ end }}
									<div class="has-accent" data-aos="fade-left">
										{{ .Content | markdownify }}
									</div>
								</div>
							</div>

							<div class="column is-5-tablet is-offset-1-tablet is-5-desktop is-offset-1-desktop is-4-fullhd is-offset-1-fullhd" data-aos="fade-right">
								<div class="content _box hero-cta">
									<h3>Speak with an Expert</h3>
									<hr/>
									<h4>{{ .Site.Params.mobile }}</h4>
									<p>Call us today or use our contact form to request a callback</p>
									<button class="button is-primary is-fullwidth ml-0 modal-trigger" data-target="quote-modal">Request a call back</button>
								</div>
							</div>

						</div>
					<div>
				<div>
			</section>