
	<div class="hero-head">
		{{ partial "navbar.html" . }}
	</div>

	<!-- Hero content: will be in the middle -->
	<div class="hero-body">
		<div class="container is-fullhd">
			<div class="columns is-centered _is-vcentered">
				<div class="column is-12-tablet is-12-desktop is-10-widescreen">
					<span class="pre-heading" data-aos="fade-left">
					{{ if .Params.preheading -}}
						{{ .Params.preheading }} 
					{{- else -}}
					{{ if .Site.Params.seo }}
						{{ .Site.Params.seo | humanize }} 
						{{ else }} 
						{{ .Site.Params.industry | humanize }} services 
						{{ end }} in {{ .Site.Params.towncity }} 
					{{- end }}
					</span>
					<div class="content hero-services-content has-accent" data-aos="fade-down">
						{{ .Content }}
					</div>
				</div>
			</div>

			<div class="columns is-multiline is-centered is-vcentered is-variable is-2 mt-4">
				<div class="column is-12-mobile is-6-tablet is-4-desktop is-3-fullhd" data-aos="fade-up" data-aos-delay="200">
					<a href='tel:{{ replaceRE "(\\s)" "" .Site.Params.phone | }}' class="button button-primary is-fullwidth"><i class="fa-light fa-phone pr-2"></i>Call: {{.Site.Params.phone}}</a>
				</div>
				<div class="column is-12-mobile is-6-tablet is-4-desktop is-3-fullhd" data-aos="fade-up" data-aos-delay="400">
					<a href="#" class="button button-primary is-fullwidth modal-trigger" data-target="quote-modal"><i class="fa-light fa-envelope-circle-check pr-2"></i>Request a Callback</a>
				</div>
			</div>

		</div>
	</div>
	{{/*  <img src="images/wave.svg" class="wave"/>  */}}
