				<div class="hero-body">
					<div class="container is-fullhd">
						<div class="columns is-centered">
							<div class="column is-12-tablet is-12-desktop is-10-widescreen">
								<span class="pre-heading" data-aos="fade-left">
								{{ if .Params.preheading -}}
									{{ .Params.preheading }} 
								{{- else -}}
								{{ if .Site.Params.seo }}
									{{ .Site.Params.seo | humanize }} 
									{{ else }} 
									{{ .Site.Params.industry | humanize }} services 
									{{ end }} in {{ .Site.Params.towncity }} 
								{{- end }}
								</span>
								<div class="content hero-services-content has-accent" data-aos="fade-down">
									{{ .Content }}
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/*  <img src="images/wave.svg" class="wave"/>  */}}