<div class="hero-body">
						<div class="container is-fullhd">
							<div class="columns">
								<div class="column is-12-tablet is-8-desktop is-7-fullhd">
									{{- if (isset .Params "preheading") -}}
									<span class="pre-heading" data-aos="fade-left">
										{{ .Params.preheading }} 
									</span>
									{{- end }}
									<div class="content hero-services-content has-accent" data-aos="fade-down">
										{{ .Content }}
									</div>
								</div>
							</div>
						</div>
					</div>