				<div class="hero-body">
				  <div class="container is-fullhd">
					<div class="columns">
						<div class="column is-8-desktop _is-offset-2-desktop is-8-fullhd _is-offset-3-fullhd is-12-tablet">
							<div class="content hero-services-content has-accent" data-aos="fade-down">
								{{ .Content }}
							</div>
							<a href="/services.html" 
								class="button button-primary is-rounded is-outlined _is-ghost mt-4"
								data-aos="fade-right">
								Services <i class="fa-solid fa-arrow-right"></i>
							</a>
						</div>
					</div>
				  </div>
				</div>