				<div class="hero-body">
				  <div class="container is-fullhd">
					<div class="columns">
						<div class="column is-8-desktop _is-offset-2-desktop is-7-fullhd _is-offset-3-fullhd is-12-tablet">
							<span class="pre-heading" data-aos="fade-left">
							{{- if .Params.preheading -}}
								{{ .Params.preheading }} 
							{{- end }}
							</span>
							<div class="content hero-services-content has-accent" data-aos="fade-down">
								{{ .Content }}
							</div>
						</div>
					</div>
				  </div>
				</div>