
	<!-- Hero head: will stick at the top -->
	<div class="hero-head">
		{{ partial "navbar.html" . }}
	</div>

	<!-- Hero content: will be in the middle -->
	<div class="hero-body">
		<div class="container is-fullhd">
			<div class="columns">
				<div class="column is-12-desktop is-8-fullhd is-12-tablet">
					<span class="pre-heading" data-aos="fade-left">
					{{- if .Params.preheading -}}
						{{ .Params.preheading }} 
					{{ else }}
						{{ .Site.Params.industry | humanize }} services in {{ .Site.Params.towncity }}
					{{- end }}
					</span>
					<div class="content has-accent" data-aos="fade-down">
						{{ .Content }}
					</div>
				</div>
			</div>
		</div>
	</div>