					<div class="columns is-multiline is-variable is-4">
					{{/* Automatically increment the aos-delay value */}}
					{{- $currentPage := . -}}
					{{- $.Scratch.Set "delay" 0 }}
					{{- range where (where .Site.RegularPages "Type" "service-item") "File.Dir" "services/" -}}
					{{- $i := $.Scratch.Get "delay" }}
						{{- $.Scratch.Set "delay" (add ($.Scratch.Get "delay") 100) }}
						<div class="column is-6-tablet is-6-desktop is-4-fullhd company-services-overview-item" data-aos="fade-in" data-aos-delay="{{ print $i }}">
							<h3>{{ .Params.title }}</h3>
							<p>{{ .Params.desc }}</p>
							<a href="/services.html#{{ anchorize .Title }}">More info</a> <span class="icon"><i class="fa-regular fa-sm fa-arrow-right"></i></span>
						</div>
					{{ end -}}
					</div>