.whatsapp-widget {
    --icon-bg-color: #3bd776;
    --header-bg-color: #19191a;
    --chat-on-whatsapp-button-color: #3bd776;
    --profile-pic-bg-color: white;
    
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 100;
    transform: translateY(200%);
    transition: transform 0.3s;
}


.whatsapp-widget .whatsapp-icon {
    height: 70px;
    width: 70px;
    content: '';
    background-color: var(--icon-bg-color);
    background-image: url('./whatsapp-icon.svg');
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid white;
    border-radius: 50%;
    -webkit-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.5);
            box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.5);
    -webkit-transition: -webkit-filter 0.2s;
    transition: -webkit-filter 0.2s;
    -o-transition: filter 0.2s;
    transition: filter 0.2s;
    transition: filter 0.2s, -webkit-filter 0.2s;
    cursor: pointer;
    position: relative;
    opacity: 0;
    -webkit-animation: widget-fade-in 0.5s forwards;
            animation: widget-fade-in 0.5s forwards;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}

@-webkit-keyframes widget-fade-in {
    0% {opacity: 0;}
    100% {opacity: 1};
}

@keyframes widget-fade-in {
    0% {opacity: 0;}
    100% {opacity: 1};
}

.whatsapp-widget .whatsapp-icon:hover {
    -webkit-filter: brightness(1.08);
            filter: brightness(1.08);
}

.whatsapp-widget .whatsapp-icon::before {
    display: block;
    width: 1em;
    height: 1em;
    padding: 3px;
    content: '1';
    border-radius: 50%;
    position: absolute;
    top: -5%;
    right: -10%;
    background-color: #e90000;
    font-family: system-ul, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.whatsapp-widget .whatsapp-chat-window {
    background-color: white;
    width: min(88vw, 400px);
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.2);
            box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.2);
    position: absolute;
    bottom: 120%;
    right: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transform: translateX(200%);
        -ms-transform: translateX(200%);
            transform: translateX(200%);
    -webkit-transition: opacity 1s, -webkit-transform 0.3s;
    transition: opacity 1s, -webkit-transform 0.3s;
    -o-transition: opacity 1s, transform 0.3s;
    transition: opacity 1s, transform 0.3s;
    transition: opacity 1s, transform 0.3s, -webkit-transform 0.3s;
}

.whatsapp-widget .whatsapp-chat-window.open-chat-window {
   opacity: 1;
   -webkit-transform: translateX(0);
       -ms-transform: translateX(0);
           transform: translateX(0);
}

.whatsapp-widget .chat-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.5em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5em;
    background-color: var(--header-bg-color);
}

.whatsapp-widget .profile-pic {
    width: 55px;
    aspect-ratio: 1;
    flex-shrink: 0;;
    -o-object-fit: cover;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
    background-color: var(--profile-pic-bg-color);
    background-image: url('/images/logo.png');
    background-image: url('/images/favicon.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    outline: 2px solid rgba(255,255,255,0.5);
    border-radius: 50%;
    position: relative;
}

.whatsapp-widget .profile-pic:before {
    display: block;
    width: 9px;
    height: 9px;
    content: '';
    border: 3px solid var(--header-bg-color);
    border-radius: 50%;
    position: absolute;
    bottom:  0;
    right: 0;
    background-color: #4ad504;
}

.whatsapp-widget .chat-header-text h2 {
    margin: 0;
    margin-bottom: 0.3em;
    padding: 0;
    font-size: 1.2rem;
    color: white;
}

.whatsapp-widget .chat-header-text p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

.whatsapp-widget .close-chat-window {
    width: 16px;
    height: 16px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url('./cross.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 5%;
    right: 3%;
    -webkit-filter: invert(1) opacity(0.5);
            filter: invert(1) opacity(0.5);
    -webkit-transition: -webkit-filter 0.2s;
    transition: -webkit-filter 0.2s;
    -o-transition: filter 0.2s;
    transition: filter 0.2s;
    transition: filter 0.2s, -webkit-filter 0.2s;
    cursor: pointer;
}

.whatsapp-widget .close-chat-window:hover {
    -webkit-filter: invert(1) opacity(0.7);
            filter: invert(1) opacity(0.7);
}

.whatsapp-widget .chat-body {
    padding: 1.5em;
    background-image: url('./chat-bg.webp');
    background-size: cover;
    background-position: top center;
}

.whatsapp-widget .chat-body time {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-inline: auto;
    color: rgba(0,0,0,0.7);
    font-size: 12px;
    font-weight: 500;
    font-family: system-ui, sans-serif;
}

.whatsapp-widget .chat-body p {
    margin-bottom: 2em;
    padding: 0.3em 0.7em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 16px;
    border-top-left-radius: 0;
    background-color: white;
    font-size: 16px;
    line-height: 2em;
    color: rgb(19, 19, 19);
}

.whatsapp-widget .chat-body a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-inline: auto;
    padding: 0.7em 1.2em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.5em;
    background-color: var(--chat-on-whatsapp-button-color);
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border-radius: 50px;
    -webkit-transition: -webkit-filter 0.2s;
    transition: -webkit-filter 0.2s;
    -o-transition: filter 0.2s;
    transition: filter 0.2s;
    transition: filter 0.2s, -webkit-filter 0.2s;
}

.whatsapp-widget .chat-body a:hover {
    -webkit-filter: brightness(1.08);
            filter: brightness(1.08);
}

.whatsapp-widget .chat-body a img {
    display: inline-block;
    height: 1.8em;
    width: auto;
}

.slide-up-icon {
    transform: translateY(0);
}


@media (max-width: 550px) {
    .whatsapp-widget .whatsapp-icon {
        width: 65px;
        height: 65px;
    }

    /* .widget-bottom-stop {
        transform: translateY(-5em);
    } */
}