<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
  <head>
    {{ partial "meta.html" . }}
  </head>

<body>
  <header>
    {{ partial "top-banner.html" . }}

    {{partial "navbar.html" . }}

  {{ block "hero" . }}
  {{- end }}
</header>

<main>
  {{ block "main" . }}{{ end }} 
  {{- partial "why-us-banner.html" . }}
  {{- partial "quote-modal.html" . }}
</main>

<footer class="site-footer">
  {{- partial "site-footer.html" . }}
</footer>

<script src="js/site.js"></script>
<script src="https://kit.fontawesome.com/590b99fc1d.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
{{ block "scripts" . }}
{{ end }}
</body>
</html>