			{{ define "main" }}
			<section class="section contact">
				<div class="container is-fullhd">
					<div id="map" class="map has-background-grey is-hidden-touch"></div>
					<div class="columns is-variableis-multiline">

						<div class="column is-4-desktop">
							<div class="content contact-details mb-6" data-aos="fade-right">
								<h2>Business Address</h2>
								<address>
								{{- with .Site.Params }}
									<b>{{ .fullname }},<br/></b>
									{{ if .building }}
									{{ .building }},<br/>
									{{end }}
									{{ .street }},<br/>
									{{ .towncity }},<br/>
									{{ if .county -}}
									{{ .county }}, <br/>
									{{ end -}}
									{{ .postcode }}
								{{- end }}
								</address>
							</div>
							<div class="content contact-details mb-6" data-aos="fade-right">
								<h2>Opening Hours</h2>
								<ul>
									<li>Monday to friday - 8am to 6pm</li>
									<li>Saturday - 8am to 5pm</li>
									<li>Sunday - 8am to 4pm</li>
								</ul>
							</div>
							{{  partial "contact-details.html" .  }}
						</div>

						<div class="column is-offset-2-desktop box contact-form contact-form-pulled" data-aos="fade-up">         
										{{ partial "contact-form.html" . }}
						</div>
					</div>
				</div>
			</section>
			{{ end }}

		{{- define "scripts" -}}
		<script async defer src="js/map.js"></script>
		{{ end }}