{{/*  {{ define "hero" }}
<section class="hero">
	{{ partial "hero/hero-text-only.html" . }}
</section>
{{ end }}  */}}

{{ define "main" }}
	<section class="section company-intro">
		<div class="container is-fullhd">
			<div class="columns is-centered is-multiline is-variable is-8">
				{{- range where (where .Site.RegularPages "Type" "content-section") "File.Dir" "corporate-governance/" }}
				<div class="column is-12-tablet is-9-desktop">
					<div class="content company-intro-content has-accent">
						{{ .Content }}
					</div>
				</div>
				{{- end }}
			</div>
		</div>
	</section>
{{ end }}

{{ define "scripts" }}
<!-- Page specific scripts -->
{{ end }}