
		{{ define "main" }}
			<section class="section">
				<div class="container is-fullhd">
					<div class="columns is-centered is-multiline is-variable is-8">
						{{- range where (where .Site.RegularPages "Type" "team-section") "File.Dir" "management-team/" }}
						<div class="column is-5-desktop is-4-fullhd">
							{{- $image := resources.Get .Params.image }}
							<figure class="image is-square image-text" data-aos="fade-in">
								<img src='{{ ($image.Fill "600x600 q50 Center").RelPermalink }}' alt="" title=""/>
							</figure>
						</div>
						<div class="column is-12-touch is-7-desktop is-8-fullhd">
							<div class="content company-team">
								{{ .Content }}
							</div>
						</div>

						{{- end }}
					</div>
				</div>
			</section>
			{{/*  {{ partial "stats-row-section.html" . }}  */}}
		{{ end }}

		{{ define "scripts" }}
		{{ end }}