		{{- define "main" }}
			<section class="section">
				<div class="container is-fullhd">
					<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
					<div class="elfsight-app-3085e81d-3e0a-4181-af28-e935e299af24"></div>
				</div>
			</section>

			{{ partial "cta-text.html" . }}
			{{/*  {{ partial "why-us-banner.html" . }}  */}}

		{{ end }}

		{{- define "scripts" -}}
		{{/*  <script src="js/simple-lightbox.min.js?v2.11.0"></script>
		<script>
			(function() {
				var $gallery = new SimpleLightbox('.gallery a', {
				scrollZoom : false,
				captions: false,
				overlayOpacity : 0.95,
				disableScroll: false,
			});
		})();
		</script>  */}}
		{{ end }}