		{{- define "main" }}
			<section class="section">
				<div class="container is-fullhd">
					<script src="https://apps.elfsight.com/p/platform.js" defer></script>
					<div class="elfsight-app-1e0be20f-6914-4fce-9a6e-4d6f4f43ac47"></div>
				</div>
			</section>

			{{ partial "cta-text.html" . }}
			{{ partial "why-us-banner.html" . }}

		{{ end }}

		{{- define "scripts" -}}
		<script src="js/simple-lightbox.min.js?v2.11.0"></script>
		<script>
			(function() {
				var $gallery = new SimpleLightbox('.gallery a', {
				scrollZoom : false,
				captions: false,
				overlayOpacity : 0.95,
				disableScroll: false,
			});
		})();
		</script>
		{{ end }}