		{{- define "main" }}
			<section class="section">
				<div class="container is-fullhd">


					<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
					<div class="elfsight-app-835d3db8-d8b2-456b-a221-b4e9bf398fcb" data-elfsight-app-lazy></div>

					
				</div>
			</section>

			{{ partial "cta-text.html" . }}
			{{/*  {{ partial "why-us-banner.html" . }}  */}}

		{{ end }}

		{{- define "scripts" -}}
		<script src="js/simple-lightbox.min.js?v2.11.0"></script>
		<script>
			(function() {
				var $gallery = new SimpleLightbox('.gallery a', {
				scrollZoom : false,
				captions: false,
				overlayOpacity : 0.95,
				disableScroll: false,
			});
		})();
		</script>
		{{ end }}