{{ define "hero" }}
<section class="hero">
	<div class="hero-body">
		<div class="container is-fullhd">
			<div class="columns is-centered">
				<div class="column is-8-desktop is-7-fullhd">
					<div class="content _hero-services-content has-text-centered has-accent" data-aos="fade-down">
						<h1>Privacy Policy for <br/>{{ .Site.Params.fullname }}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{ end }}

{{ define "main" }}	
<article class="section">
	<div class="container is-fullhd">
		<div class="columns is-centered">
			<div class="column is-8-desktop is-7-fullhd is-12-tablet">
				<div class="content policy-content">
					{{ .Content }}
				</div>
			</div>
		</div>
	</div>
</article>
{{ end }}

{{ define "scripts" }}
<!-- Page specific scripts -->
{{ end }}