
		
		{{ define "main" -}}
			<section class="section">
				<div class="container is-fullhd">  
					<div class="columns is-multiline is-mobile review-grid">
						{{/*  {{ range where (where .Site.RegularPages "Type" "review") "File.Dir" "reviews/" }}
							{{ partial "review-slider/review-card.html" . }}
						{{- end }}  */}}
						<div class="column">
							<script src="https://apps.elfsight.com/p/platform.js" defer></script>
							<div class="elfsight-app-b1560c98-d41a-415f-931e-9271d620e3b3"></div>
						</div>


					</div>
					{{ if .Params.morelink }}
					<div class="is-grouped has-text-centered mt-5">
						<div data-aos="fade-right" data-aos-anchor-placement="bottom-bottom">
							<a href="{{ .Params.morelink }}" target="_blank" rel="noopener"  class="button button-primary ml-0">View more <i class="fa-light fa-square-arrow-up-right"></i></a>
						</div>
					</div>
					{{ end }}
				</div>
			</section>

			{{ partial "cta-text.html" . }}

		{{ end }}