{{ define "stylesheets" }}
<link rel="stylesheet" href="/css/splide-default.min.css">
{{ end }}

{{ define "hero" -}}
<section class="hero hero-service-page commercial is-medium">
	{{ partial "hero/hero-image.html" . }}
</section>
{{ end }}

{{ define "main" }}
<section class="section">
	<div class="container is-fullhd">
		<div class="text-row has-text-centered mb-6">
			<div class="text-row-inner service-page">
				<h2>
					Commercial & Industrial Services
				</h2>
				<h3>
					Electrical Services for Businesses
				</h3>
				<p>
					We provide a wide range of electrical services to commercial customers, including 3-phase electrical installations for a range of applications such as cafes, restaurants, shops, offices, agricultural and industrial businesses, and more.
				</p>
			</div>
		</div>
		<div class="columns is-multiline is-variable is-4">

			<div class="column is-12-tablet is-4-widescreen">
				<figure class="image is-3by2 service-page-image">
					{{ $image := resources.Get "images/commercial-restaurant.jpg" }}
					<img src='{{ ($image.Resize "x600 q50 Smart").RelPermalink }}' alt="" title=""/>
				</figure>
				<div class="_content mt-4 px-4 service-page-list commercial">
					<div class="has-text-centered mb-6">
						<h3>Commercial Electrical Systems</h3>
						<p>Our expert electrical engineers are on hand to provide LED lighting and upgrades from the smallest office or cafe to the largest warehouse or superstore. We can also provide telephone, power sockets and data cabling throughout your workplace.</p>
						<ul>
							<li>CAT6 Data Connections</li>
							<li>Office Dado Rails</li>
							<li>Bars / Restaurants / Kitchens</li>
							<li>Shop-floors & Feature Lighting</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="column is-12-tablet is-4-widescreen">
				<figure class="image is-3by2 service-page-image">
					{{ $image := resources.Get "images/commercial-warehouse.jpg" }}
					<img src='{{ ($image.Resize "x600 q50 Smart").RelPermalink }}' alt="" title=""/>
				</figure>
				<div class="_content mt-4 px-4 service-page-list commercial">
					<div class="has-text-centered mb-6">
						<h3>Industrial Installations</h3>
						<p>Whether it's food and beverage plants or manufacturing facilities, our fully CHAS accredited electricians can provide a wide range of industrial electrical installations across a broad spectrum of industries.</p>
						<ul>
							<li>3 Phase Installations</li>
							<li>Metal Conduit Systems</li>
							<li>Cable Mangement Trays</li>
							<li>Cable Jointing</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="column is-12-tablet is-4-widescreen">
				<figure class="image is-3by2 service-page-image">
					{{ $image := resources.Get "images/commercial-eicr-test.jpg" }}
					<img src='{{ ($image.Resize "x600 q50 Smart").RelPermalink }}' alt="" title=""/>
				</figure>
				<div class="_content mt-4 px-4 service-page-list commercial">
					<div class="has-text-centered mb-6">
						<h3>EICR Testing & Inspection</h3>
						<p>Ensure your business is safe with our complete electrical safety inspections. We also offer portable appliance testing (PAT) and EICR certificates. It is recommended to get your property and appliances tested at least every:</p>
						<ul>
							<li>Commercial - 5 years</li>
							<li>Industrial - 3 years</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

{{/*  Contact Form  */}}
<section id="contact" class="section">
	<div class="container is-fullhd">
		<form class="contact-form service-page-contact-form commercial" action="https://mail.amcsinternet.co.uk/mailer.php?to={{ .Site.Params.email }}" method="post" >
			<div class="columns is-multiline is-variable is-3 is-vcentered is-centered">
				{{/*  Radio Buttons  */}}
				<div class="column is-4-desktop form-choice">
					<div class=" form-choice-wrapper box">
						<div class="control">
							<label class="checkbox">
							<input type="checkbox" name="Commercial1" value="Commercial Services">
							Commercial
							</label>
						</div>
					</div>
				</div>
				<div class="column is-4-desktop form-choice">
					<div class=" form-choice-wrapper box">
						<div class="control">
							<label class="checkbox">
							<input type="checkbox" name="Commercial2" value="Industrial Services">
							Industrial
							</label>
						</div>
					</div>
				</div>
				<div class="column is-4-desktop form-choice">
					<div class=" form-choice-wrapper box">
						<div class="control">
							<label class="checkbox">
							<input type="checkbox" name="Commercial3" value="Testing & Inspections">
							Testing & Inspections
							</label>
						</div>
					</div>
				</div>
				{{/*  First column  */}}
				<div class="column is-12-touch is-6-desktop">
					<div class="field">
						<div class="control">
							<input class="input" type="text" required="required" name="Name" placeholder="e.g Alex Smith">
						</div>
					</div>
					<div class="field">
						<div class="control">
							<input class="input" type="tel" required="required" name="Phone" placeholder="01234 567 890">
						</div>
					</div>
					<div class="field">
						<div class="control">
							<input class="input" type="email" required="required" name="Email" placeholder="e.g. alexsmith@gmail.com">
						</div>
					</div>
				</div>
				{{/*  Second Column  */}}
				<div class="column is-12-touch is-6-desktop">
					<div class="field">
						<div class="control">
							<textarea class="textarea" type="textarea" required="required" name="Message" placeholder="As much or as little detail as you have"></textarea>
						</div>
					</div>
				</div>
				{{/*  Button  */}}
				<div class="column is-12-touch is-6-desktop">
					<div class="field">
						<div class="control">
							<button class="button submit-button submit-button-{{ .Params.serviceClass }} is-fullwidth" type="submit">Submit Form</button>
						</div>
					</div>
				</div>

			</div>
		</form>
	</div>
</section>

{{ end }}

{{ define "scripts" }}			
<script src="/js/splide.min.js"></script>
<script>
	document.addEventListener( 'DOMContentLoaded', function() {
		var splide = new Splide( '.splide', {
			type   : 'loop',
			perPage: 1,
			arrows: true,
			cover: true,
			heightRatio: 0.9,
		});
		splide.mount();
	  } );
</script>
{{ end }}