{{ define "hero" -}}
<section class="hero hero-servicepage is-medium">
	{{ partial "hero/hero-image.html" . }}
</section>
{{ end }}

{{ define "main" }}
<section class="section">
	<div class="container is-fullhd">
		<div class="columns is-multiline is-centered">
			<div class="column is-12-touch is-7-desktop" data-aos="fade-in">
				<article class="content has-accent">
				{{ .Content }}
				</article>
			</div>
		</div>
	</div>
</section>

{{ end }}

{{ define "scripts" }}
<!-- Page specific scripts -->
{{ end }}