{{ define "stylesheets" }}
<link rel="stylesheet" href="/css/splide-default.min.css">
{{ end }}

{{ define "hero" -}}
<section class="hero hero-service-page domestic is-medium">
	{{ partial "hero/hero-image.html" . }}
</section>
{{ end }}

{{ define "main" }}
<section class="section">
	<div class="container is-fullhd">
		<div class="text-row has-text-centered mb-6">
			<div class="text-row-inner service-page">
				<h2>
					Domestic & Residential Services
				</h2>
				<h3>
					Local electrians in Norfolk and Devon. 
				</h3>
				<p>
					With over {{ .Site.Params.years }} experience, we are proud of our customer service track record working across Norwich, East Anglia, Exeter, Devon and Southern England.
				</p>
			</div>
		</div>
		<div class="columns is-multiline is-variable is-4">

			<div class="column is-12-tablet is-4-widescreen">
				<figure class="image is-3by2 service-page-image">
					{{ $image := resources.Get "images/domestic-wiring.jpg" }}
					<img src='{{ ($image.Fit "1200x600 Smart").RelPermalink }}' alt="" title=""/>
				</figure>
				<div class="_content mt-4 px-4 service-page-list domestic">
					<div class="has-text-centered mb-6">
						<h3>New Build Wiring</h3>
						<p>All our engineers are qualified to carry out new-build wiring that complies with British standard BS7671:2018 (IET Wiring Regulations). We prefer to be involved from the electrical design stage and break all new build wiring projects into smaller stages:</p>
						<ul>
							<li>Electrical System Design</li>
							<li>First-fix Wiring Installations</li>
							<li>Second-fix Fixtures & Fittings</li>
							<li>Testing & Commissioning</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="column is-12-tablet is-4-widescreen">
				<figure class="image is-3by2 service-page-image">
					{{ $image := resources.Get "images/domestic-smart-home.jpg" }}
					<img src='{{ ($image.Fit "1200x600 q50 Smart").RelPermalink }}' alt="" title=""/>
				</figure>
				<div class="_content mt-4 px-4 service-page-list domestic">
					<div class="has-text-centered mb-6">
						<h3>Smart Home Automation</h3>
						<p>Our experienced team can assist with the design and installation of innovative Smart Home control systems, giving you a safer and more comfortable living environment. Start with the essentials and add extra functionality as required.</p>
						<ul>
							<li>Home Security Control</li>
							<li>Smart Heating Control</li>
							<li>Lighting Control</li>
							<li>Future-proof Adaptable</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="column is-12-tablet is-4-widescreen">
				<figure class="image is-3by2 service-page-image">
					{{ $image := resources.Get "images/domestic-eicr-test.jpg" }}
					<img src='{{ ($image.Fit "1200x600 q50 Smart").RelPermalink }}' alt="" title=""/>
				</figure>
				<div class="_content mt-4 px-4 service-page-list domestic">
					<div class="has-text-centered mb-6">
						<h3>EICR Testing & Inspection</h3>
						<p>Ensure your home or business is safe with our complete electrical safety inspections. We offer portable appliance testing (PAT) and domestic/landlord EICR certificates. It is recommended to get your property and appliances tested at least every:</p>
						<ul>
							<li>Private Domestic - 10 years</li>
							<li>Rented Domestic - 5 years</li>
							<li>Commercial - 5 years</li>
							<li>Industrial - 3 years</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

{{/*  Contact Form  */}}
<section id="contact" class="section">
	<div class="container is-fullhd">
		<form class="contact-form service-page-contact-form domestic" action="https://mail.amcsinternet.co.uk/mailer.php?to={{ .Site.Params.email }}" method="post" >
			<div class="columns is-multiline is-centered">
				{{/*  Radio Buttons  */}}
				<div class="column is-4-desktop form-choice">
					<div class=" form-choice-wrapper box">
						<div class="control">
							<label class="checkbox">
							<input type="checkbox" name="Domestic1" value="New Build Wiring">
							New Build Wiring
							</label>
						</div>
					</div>
				</div>
				<div class="column is-4-desktop form-choice">
					<div class=" form-choice-wrapper box">
						<div class="control">
							<label class="checkbox">
							<input type="checkbox" name="Domestic2" value="Smart Home">
							Smart Home
							</label>
						</div>
					</div>
				</div>
				<div class="column is-4-desktop form-choice">
					<div class=" form-choice-wrapper box">
						<div class="control">
							<label class="checkbox">
							<input type="checkbox" name="Domestic3" value="Testing & Inspections">
							Testing & Inspections
							</label>
						</div>
					</div>
				</div>
				{{/*  First column  */}}
				<div class="column is-6-desktop">
					<div class="field">
						<div class="control">
							<input class="input" type="text" required="required" name="Name" placeholder="e.g Alex Smith">
						</div>
					</div>
					<div class="field">
						<div class="control">
							<input class="input" type="tel" required="required" name="Phone" placeholder="01234 567 890">
						</div>
					</div>
					<div class="field">

						<div class="control">

							<input class="input" type="email" required="required" name="Email" placeholder="e.g. alexsmith@gmail.com">
						</div>
					</div>
				</div>
				{{/*  Second Column  */}}
				<div class="column is-6-desktop">
					<div class="field">
						<div class="control">

							<textarea class="textarea" type="textarea" required="required" name="Message" placeholder="As much or as little detail as you have"></textarea>
						</div>
					</div>
				</div>
				{{/*  Button  */}}
				<div class="column is-6-desktop">
					<div class="field">
						<div class="control">
							<button class="button submit-button submit-button-{{ .Params.serviceClass }} is-fullwidth" type="submit">Submit Form</button>
						</div>
					</div>
				</div>

			</div>
		</form>
	</div>
</section>

{{ end }}

{{ define "scripts" }}
<script src="/js/splide.min.js"></script>
<script>
	document.addEventListener( 'DOMContentLoaded', function() {
		var splide = new Splide( '.splide', {
			type   : 'loop',
			perPage: 1,
			arrows: true,
			cover: true,
			heightRatio: 0.9,
		});
		splide.mount();
	  } );
</script>
{{/*  <!-- Page specific scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
<script>
	var slider = tns({
		container: '.service-page-hero-slider',
		autoHeight: false,
		items: 1,
		slideBy: 1,
		loop: true,
		autoplay: true,
		autoplayButtonOutput: false,
		autoplayHoverPause: true,
		speed: 800,
		gutter: 0,
		edgePadding: 0,
		center: true,
		nav: false,
		navPosition: 'bottom',
		controls: false,
		preventActionWhenRunning: true,
		mouseDrag: true,
	});
</script>  */}}
{{ end }}