{{ define "hero" }}
<section class="hero hero-service is-halfheight"
 	style="background-image:linear-gradient(-249deg, rgba(11, 16, 26, 1), rgba(11, 16, 26, 0.5)), url(../{{ .Params.backgroundImage }})">
	<div class="hero-body">
		<div class="container is-fullhd">
			<div class="columns">
				<div class="column is-12-tablet is-8-desktop is-6-fullhd">
					<span class="pre-heading" data-aos="fade-left">
						Our Services
					</span>
					<div class="content hero-services-content has-accent" data-aos="fade-down">
						<h1>{{ .Title }}</h1>
						<p>{{ .Params.desc }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{ end }}

{{ define "main" }}
<section class="section">
	<div class="container is-fullhd">
		<div class="columns is-multiline is-vcentered is-centered is-variable is-8">
			<div class="column is-12-touch is-6-desktop" data-aos="fade-in">
				<article class="content has-accent">
				{{ .Content }}
				</article>
			</div>
			<div class="column is-12-touch is-6-desktop" data-aos="fade-in">
				<div class="image is-1by1 company-services-image company-services-image">
					{{- $image := resources.Get .Params.image }}
					{{- if $image }}
					<img src='{{ ($image.Fill "1200x1200 q75 Center").RelPermalink }}' alt="" title=""/>
					{{ else }}
					<img src='/images/placeholder.jpg'/>
					{{- end }}
				</div>
			</div>
		</div>
		<div class="columns mt-6 company-services-item is-multiline is-vcentered is-variable is-8">
			<div class="column is-hidden-touch" data-aos="fade-in">
				<div class="image is-1by1 company-services-image company-services-image">
					{{- $image := resources.Get .Params.image2 }}
					{{- if $image }}
					<img src='{{ ($image.Fill "1200x1200 q75 Center").RelPermalink }}' alt="" title=""/>
					{{ else }}
					<img src='/images/placeholder.jpg'/>
					{{- end }}
				</div>
			</div>
			<div class="column is-7-desktop">
				<div class="_content has-accent company-services-list" data-aos="fade-right">
					<h2>First Choice Driveways & Treecare offer a wide range of <em>landscaping services</em> throughout Lancashire.</h2>
					<ul>
						{{ range .Params.services }}
						<li>{{ . }}</li>
						{{ end }}	
					</ul>					
				</div>
			</div>
		</div>
	</div>
</section>

	{{ partial "cta-text.html" . }}
	{{ partial "why-us-banner.html" . }}

{{ end }}

{{ define "scripts" }}
<!-- Page specific scripts -->
{{ end }}