
			{{ define "hero" }}
			<section class="hero has-text-centered is-halfheight hero-success">
				<div class="hero-body">
					<div class="container is-fullhd">
						<div class="columns">
							<div class="column is-8-desktop is-offset-2-desktop is-6-fullhd is-offset-3-fullhd is-12-tablet">
								<div class="content hero-services-content has-accent" data-aos="fade-down">
									{{ .Content }}

									{{- with .Site.Params -}}
									<div class="hero-socials" data-aos="fade-in" data-aos-delay="200">
									{{ if .facebook }}<a href="https://facebook.com/{{- .facebook -}}" title="Find us on Facebook" target="_blank" rel="noopener"><span class="icon"><i class="fa-brands fa-lg fa-square-facebook"></i></span></a>{{ end }}
									{{ if .instagram }}<a href="https://instagram.com/{{- .instagram -}}" title="Find us on Instagram" target="_blank" rel="noopener"><span class="icon"><i class="fa-brands fa-lg fa-instagram"></i></span></a>{{ end }}
									{{ if .twitter }}<a href="https://twitter.com/{{- .twitter -}}" title="Find us on Twitter" target="_blank" rel="noopener"><span class="icon"><i class="fa-brands fa-lg fa-twitter"></i></span></a>{{ end }}
									{{ if .tiktok }}<a href="https://tiktok.com/@{{- .tiktok -}}" title="Find us on TikTok" target="_blank" rel="noopener"><span class="icon"><i class="fa-brands fa-lg fa-tiktok"></i></span></a>{{ end }}
									</div>
									{{ end -}}
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>
{{ end }}

{{ define "scripts" }}
{{ end }}