
			{{ define "hero" }}
			<section class="hero has-text-centered is-halfheight hero-success">
				<div class="hero-body">
					<div class="container is-fullhd">
						<div class="columns">
							<div class="column is-8-desktop is-offset-2-desktop is-6-fullhd is-offset-3-fullhd is-12-tablet">
							<!-- <span class="pre-heading" data-aos="fade-left">Our Work</span> -->
								<div class="content hero-services-content has-accent" data-aos="fade-down">
									{{ .Content }}
									<div class="hero-socials" data-aos="fade-in" data-aos-delay="200">
										{{/*  <a href="https://facebook.com/companyname" title="Find us on Facebook" target="_blank" rel="noopener">
											<span class="icon"><i class="fa-brands fa-lg fa-square-facebook"></i></span>
										</a>
										<a href="https://instagram.com/companyname" title="Find us on Instagram" target="_blank" rel="noopener">
											<span class="icon"><i class="fa-brands fa-lg fa-instagram"></i></span>
										</a>
										<a href="https://twitter.com/coompanyname" title="Find us on Twitter" target="_blank" rel="noopener">
											<span class="icon"><i class="fa-brands fa-lg fa-twitter"></i></span>
										</a>
										<a href="https://tiktok.com/@companyname" title="Find us on TikTok" target="_blank" rel="noopener">
											<span class="icon"><i class="fa-brands fa-lg fa-tiktok"></i></span>
										</a>  */}}
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>
{{ end }}

{{ define "scripts" }}
{{ end }}