
		{{ define "main" }}
			<section class="section company-intro">
				<div class="container is-fullhd">
					<div class="columns is-centered is-multiline is-variable is-8">
						{{- range where (where .Site.RegularPages "Type" "content-section") "File.Dir" "sustainability/" }}
						<div class="column is-12-tablet is-9-desktop">
							<div class="content company-intro-content has-accent">
								{{ .Content }}
							</div>
							{{- $image := resources.Get .Params.image }}
							{{- if $image }}
							<figure class="image image-text" data-aos="fade-in">
								<img src='{{ ($image.Resize "1200x q50 Smart").RelPermalink }}' alt="" title=""/>
							</figure>
							{{- end }}
						</div>
						{{- end }}
					</div>
				</div>
			</section>
			{{ partial "stats-row-section.html" . }}

		{{ end }}

		{{ define "scripts" }}
		{{ end }}