

{{ define "main" }}
<section class="section">
	<div class="container is-fullhd">

		<div class="columns is-multiline is-variable is-4">

			<div class="column is-12-mobile is-6-tablet is-4-widescreen">
				<h3>ThermalDry Membrane</h3>
				<figure class="image is-16by9">
					<iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/FeiwjIYx4ss" frameborder="0" allowfullscreen loading="lazy"></iframe>
				</figure>
			</div>

			<div class="column is-12-mobile is-6-tablet is-4-widescreen">
				<h3>DryTrak Channel</h3>
				<figure class="image is-16by9">
					<iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/yvqTByWolwg" frameborder="0" allowfullscreen loading="lazy"></iframe>
				</figure>
			</div>

			<div class="column is-12-mobile is-6-tablet is-4-widescreen">
				<h3>Window Well</h3>
				<figure class="image is-16by9">
					<iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/TFigSgXG7lA" frameborder="0" allowfullscreen loading="lazy"></iframe>
				</figure>
			</div>

			<div class="column is-12-mobile is-6-tablet is-4-widescreen">
				<h3>Basement Floor Finishing</h3>
				<figure class="image is-16by9">
					<iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/rWIUZQjuzLA" frameborder="0" allowfullscreen loading="lazy"></iframe>
				</figure>
			</div>

			<div class="column is-12-mobile is-6-tablet is-4-widescreen">
				<h3>Thermal Dry Tiles</h3>
				<figure class="image is-16by9">
					<iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/V7IzsJup7eI" frameborder="0" allowfullscreen loading="lazy"></iframe>
				</figure>
			</div>

			<div class="column is-12-mobile is-6-tablet is-4-widescreen">
				<h3>Wet Basement Waterproofing</h3>
				<figure class="image is-16by9">
					<iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/XvYVIZeMygQ" frameborder="0" allowfullscreen loading="lazy"></iframe>
				</figure>
			</div>


			<div class="column is-12-mobile is-6-tablet is-4-widescreen">
				<h3>Zen Wall Panelling</h3>
				<figure class="image is-16by9">
					<iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/lYx-rxcvB30" frameborder="0" allowfullscreen loading="lazy"></iframe>
				</figure>
			</div>

			<div class="column is-12-mobile is-6-tablet is-4-widescreen">
				<h3>Sump Pump Systems</h3>
				<figure class="image is-16by9">
					<iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/HGTG-bqbVdA" frameborder="0" allowfullscreen loading="lazy"></iframe>
				</figure>
			</div>

			<div class="column is-12-mobile is-6-tablet is-4-widescreen">
				<h3>WaterGuard Channel</h3>
				<figure class="image is-16by9">
					<iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/LNO_0RY_I-U" frameborder="0" allowfullscreen loading="lazy"></iframe>
				</figure>
			</div>

			<div class="column is-12-mobile is-6-tablet is-4-widescreen">
				<h3>BrightWall Panelling</h3>
				<figure class="image is-16by9">
					<iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/BdZOEDVxcfc" frameborder="0" allowfullscreen loading="lazy"></iframe>
				</figure>
			</div>

			<div class="column is-12-mobile is-6-tablet is-4-widescreen">
				<h3>Cleanspace Liner</h3>
				<figure class="image is-16by9">
					<iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/XEivMhe4GcQ" frameborder="0" allowfullscreen loading="lazy"></iframe>
				</figure>
			</div>

			<div class="column is-12-mobile is-6-tablet is-4-widescreen">
				<h3>TripleSafe Pumping Station</h3>
				<figure class="image is-16by9">
					<iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/qmhfdjv-UAs" frameborder="0" allowfullscreen loading="lazy"></iframe>
				</figure>
			</div>

			<div class="column is-12-mobile is-6-tablet is-4-widescreen">
				<h3>Sump Pump Comparison</h3>
				<figure class="image is-16by9">
					<iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/9GtVDBJa1ak" frameborder="0" allowfullscreen loading="lazy"></iframe>
				</figure>
			</div>

		</div>

	</div>
</section>
{{ end }}

{{ define "scripts" }}
<!-- Page specific scripts -->
{{ end }}