@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&family=Work+Sans:wght@300;400;500&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Work+Sans:wght@300;400;500&display=swap');

// Override Bulma variables here:
$family-sans-serif: "Nunito Sans", sans-serif;
$family-headings: $family-sans-serif;

$primary: #7c69c0;
// $secondary: #0A1A28;
$secondary: darken($primary, 40%);
$info: $secondary;
$tertiary: #EFF2F5;
$accent: $secondary;
$link: $primary;

$text: $secondary;
$hero-text: $text;
$why-us-text: $text;
$button-text: lighten($primary, 100%);

$navbar-background-color: darken($secondary, 6%);
$navbar-height: 5rem;
$navbar-item-color: white;
$navbar-burger-color: white;
$navbar-item-hover-background-color: none;
$navbar-dropdown-arrow: $primary;
$navbar-dropdown-background-color: lighten($navbar-background-color, 5%);
$navbar-dropdown-item-hover-background-color: $navbar-dropdown-background-color;
$navbar-dropdown-item-hover-color: $primary;
$navbar-dropdown-border-top: 2px solid $primary;
$navbar-burger-color: $primary;
$navbar-item-hover-color: white;
$sl-overlay-background: $secondary;
$sl-navigation-color: white;
$bg-overlay: rgba(0, 0, 0, 0.6);
$hero-cta-bg: darken($primary, 40%);
$site-footer-bg: $secondary;

// Settings for 'Paving' BG pattern
$paving-size: 40px;
$paving-bg: darken($primary, 40%);
$paving : darken($paving-bg, 40%);

// Settings for 'Rings' BG pattern
$ring-bg-color: $tertiary;
$ring-grad-top: $primary;
$ring-grad-bottom: darken($primary, 20%);
$ring-x: 0%;
$ring-y: 50%;

// Settings for 'Dots' BG pattern
$dot-bg-color: $tertiary;
$dot-color: darken($dot-bg-color, 8%);
$dot-size: 2px;
$dot-space: 16px;