@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

// Override Bulma variables here:
$family-headings: "Poppins", sans-serif;
$family-sans-serif: "Nunito Sans", sans-serif;
$family-heading-weight: 600;

//  Set colours
$primary: #bd87e3;
$secondary: #242833;
$info: $secondary;
$tertiary: #EFF2F5;
$accent: darken($primary, 0%);
$link: $primary;
$animated-underline: $link;
$text: $secondary;

@mixin brand-gradient {
	background: $primary;
	background-image: linear-gradient(180deg, rgba($tertiary, 1), rgba($tertiary, 0.5)), url('../images/bg.png');
}

// Page hero settings 
@mixin hero-default-bg {
	background-color: $tertiary;
	background-image: linear-gradient(180deg, rgba($tertiary, 0.6), rgba($secondary, 0.05)), url('../images/bg.png');
}

@mixin hero-index-bg {
	@include background-image;
	color: $hero-index-text;
	background-color: $secondary;
	background-image: linear-gradient(180deg, rgba(black, 0.6), rgba(black, 0.3)), url('../images/bg.png');
	background-image: linear-gradient(180deg, rgba(black, 0.6), rgba(black, 0.6)), url('../images/hero.jpg');
	// background-position: top;
}

$hero-index-text: white;

//  Top Banner
$top-banner-bg: darken($secondary,10%);
$top-banner-text: white;
$top-banner-icon: $accent;

// Main Navigation
$navbar-height: 5rem;

$navbar-background-color: $secondary;
$navbar-background-color-mobile: $navbar-background-color;
$mobile-menu-background-color: $secondary;
$navbar-item-color: white;
$navbar-item-hover-color: white;
$navbar-item-hover-background-color: transparent;
$navbar-burger-color: $primary;
$navbar-item-mobile-color: white;
$navbar-dropdown-arrow: $primary;
$navbar-burger-text: $primary;
$navbar-dropdown-background-color: lighten($navbar-background-color, 5%);
$navbar-dropdown-item-hover-background-color: $navbar-dropdown-background-color;
$navbar-dropdown-item-hover-color: $primary;
$navbar-dropdown-border-top: 2px solid $primary;
$navbar-divider-background-color: lighten($navbar-dropdown-background-color, 5%);

$logo-max-width: 320px;
$logo-max-width-mobile: 200px;
$logo-max-height: $navbar-height;
$logo-bg-colour: lighten($navbar-background-color,5%);
$logo-bg-hover-colour: lighten($logo-bg-colour,5%);

// Buttons
$button-text: white;
$button-bg: $primary;
$button-bg-hover: darken($button-bg, 10%);

// Modal overlay
$sl-overlay-background: $secondary;
$sl-navigation-color: white;

// Page Hero
$hero-text: $text;
$preheading-text: inherit;
$preheading-size: 0.8rem;
$hero-title-size: 4.4rem;
$hero-font-size: 2.4rem;
$hero-font-size-mobile: 2.2rem;
$hero-title-size-mobile: 2.2rem;
$hero-text-size: 1rem;
$hero-cta-bg: $secondary;
$hero-cta-shadow: lighten($primary, 5%);
$hero-cta-number-text: $primary;
$hero-cta-corner-radius: .5rem;
$hero-cta-border: none;
$bg-overlay: rgba(0, 0, 0, 0.6);

// Services
$services-item-divider: solid 2px $tertiary;

// Map
$map-section-bg: linear-gradient(180deg, darken($primary, 0%), darken($primary, 10%));

// Reviews
$review-section-bg: white;
$review-section-text: $text;
$review-nav-text: $primary;
$review-nav-bg: transparent;
$review-nav-text-hover: white;
$review-nav-bg-hover: $primary;
$review-nav-border: solid 1px $review-nav-text;
$review-dots-width: 28px;
$review-dots-height: $review-dots-width;
$review-dots-border-radius: 50%;
$review-dots-border: solid 4px lighten($link, 20%);
$review-dots-bg: transparent;
$review-dots-bg-active: $link;
$review-stars: $primary;
$review-stars-remaining:lighten($primary, 15%);

// Why us banner 
$why-us-bg: white;
$why-us-text: $text;
$why-us-title-size: 1rem;

// Main Footer
$site-footer-bg: $secondary;
$site-footer-text: white;
$site-footer-link: lighten($secondary,80%);
$site-footer-signoff-bg: darken($secondary, 3%);
$site-footer-signoff-text: $tertiary;

// Settings for 'Paving' BG pattern
$paving-size: 40px;
$paving-bg: darken($secondary, 10%);
$paving: darken($paving-bg, 2%);

// Settings for 'Rings' BG pattern
$ring-bg-color: $tertiary;
$ring-grad-top: $primary;
$ring-grad-bottom: darken($primary, 20%);
$ring-x: 0%;
$ring-y: 50%;

// Settings for 'Dots' BG pattern
$dot-bg-color: $tertiary;
$dot-color: darken($dot-bg-color, 5%);
$dot-size: 2px;
$dot-space: 16px;