@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&family=Work+Sans:wght@300;400;500&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Work+Sans:wght@300;400;500&display=swap');

// Override Bulma variables here:
$family-sans-serif: "Nunito Sans", sans-serif;
$family-headings: $family-sans-serif;
$family-heading-weight: 600;

//  Set colours
$primary: #7c69c0;
$secondary: #242833;
$info: $secondary;
$tertiary: #EFF2F5;
$accent: darken($primary, 10%);
$link: $primary;
$text: $secondary;

@mixin brand-gradient {
	background: $primary;
	background: linear-gradient(-90deg, $primary, 0%, darken($primary, 10%));
}

//  Top Banner
$top-banner-bg: include brand-gradient;
$top-banner-text: lighten($primary, 30%);
$top-banner-icon: $top-banner-text;

// Main Navigation 
$navbar-background-color: $secondary;
$navbar-height: 5rem;
$navbar-item-color: white;
$navbar-burger-color: white;
$navbar-item-hover-background-color: none;
$navbar-dropdown-arrow: $primary;
$navbar-dropdown-background-color: lighten($navbar-background-color, 5%);
$navbar-dropdown-item-hover-background-color: $navbar-dropdown-background-color;
$navbar-dropdown-item-hover-color: $primary;
$navbar-dropdown-border-top: 2px solid $primary;
$navbar-burger-color: $primary;
$navbar-item-hover-color: white;

// Buttons
$button-text: lighten($primary, 70%);
// $button-text: darken($primary, 70%);

// Modal overlay
$sl-overlay-background: $secondary;
$sl-navigation-color: white;

// Page Hero
$hero-text: $text;
$preheading-text: $text;
$hero-cta-bg: $secondary;
$hero-cta-shadow: lighten($primary, 5%);
$hero-cta-number-text: $primary;
$bg-overlay: rgba(0, 0, 0, 0.6);

// Reviews
$review-stars: $primary;
$review-stars-remaining:lighten($primary, 35%);

// Why us banner 
$why-us-text: $text;
$why-us-title-size: 1rem;

// Main Footer
$site-footer-bg: darken($secondary, 10%);

// Settings for 'Paving' BG pattern
$paving-size: 40px;
$paving-bg: darken($primary, 40%);
$paving: darken($paving-bg, 40%);

// Settings for 'Rings' BG pattern
$ring-bg-color: $tertiary;
$ring-grad-top: $primary;
$ring-grad-bottom: darken($primary, 20%);
$ring-x: 0%;
$ring-y: 50%;

// Settings for 'Dots' BG pattern
$dot-bg-color: $tertiary;
$dot-color: darken($dot-bg-color, 8%);
$dot-size: 2px;
$dot-space: 16px;