@charset "utf-8";
/*! bulma.io v0.8.0 | MIT License | github.com/jgthms/bulma */

@import "mixins.scss";
@import "branding.scss";
@import "bulma/utilities/controls.sass";
@import "bulma/utilities/extends.sass";
@import "bulma/utilities/initial-variables.sass";
@import "bulma/utilities/mixins.sass";

$button-corner-radius: 40px;
$image-corner-radius: 0.5rem;
$navbar-breakpoint: $desktop !default;

html {
    font-size: 19px;
}

html,
body {
    width: auto !important;
    overflow-x: hidden !important;
    font-family: $family-sans-serif;
    color: $text;
}

.container {

    &.is-fluid {

        @include until($navbar-breakpoint){
            padding-left: 0;
            padding-right: 0;
        }

    }

}

// Typography

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: $family-headings;
}

h2 {
    @include section-item-title;
}

h3 {
    @include x-item-title;

}

address {
    font-style: normal;
    display: inline;
}

a {
    color: $link;
    transition: all 0.2s;

    &:hover {
        color: darken($link, 5%);
    }
}

strong {
    font-weight: inherit;
    color: inherit;
}

// Global Helpers

.nwdm-link {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: $primary;
    }
}

.has-rounded-corners {
    border-radius: $image-corner-radius;
}

.image {

    &.has-rounded-corners {
        >img {
            border-radius: $image-corner-radius;
            border-color: $primary;
        }
    }
}

.has-background-tertiary {
    background-color: $tertiary;
}

// Buttons 
.button {
    color: $secondary;

    &-primary,
    &-primary>button {
        // @include brand-gradient;
        background-color: $button-bg;
        border-color: transparent;
        color: $button-text !important;
        border-width: 1px;
        font-size: inherit;
        cursor: pointer;
        justify-content: center;
        padding: 1rem;
        text-align: center;
        white-space: nowrap;
        appearance: none;
        -webkit-appearance: none;
        align-items: center;
        border-radius: $button-corner-radius;
        box-shadow: none;
        display: inline-flex;
        height: 3rem;

        &:hover {
            background-color: $button-bg-hover;
            border-color: transparent;
            color: $button-text !important;

            i {
                margin-left: 0.75rem;
                margin-right: 0.5rem;
            }

            a {
                color: currentColor;
            }
        }

        i {
            transition: margin 0.2s;
            margin-left: 0.5rem;
        }
    }

    a {
        color: currentColor;
    }

    &-fullwidth>a {
        display: flex;
        width: 100%;
    }

    &.is-ghost {

        &:after {
            @include animated-underline;
            background-color: $primary;
            width: 100%;
        }

        &:hover {
            color: $primary;
            text-decoration: none;
            transition: all 0.3s;
        }
    }
}

.content {

    &.media {
        margin-bottom: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    li {
        color: inherit;
    }

    ul {
        position: relative;
        margin-left: 0;

        li {
            list-style: none;
            position: relative;
            padding-left: 1.5rem;
            font-weight: $family-heading-weight;

            &:before {
                content: " ";
                position: absolute;
                left: 0;
                top: 0.5rem;
                bottom: 0;
                width: 0.5rem;
                height: 0.5rem;
                line-height: 2rem;
                text-align: center;
                border-radius: 50%;
                background-color: $primary;
            }
        }
    }
}

.has-accent {

    white-space: normal;

    strong,
    span {
        color: $accent;
    }

    p,
    li {

        a,
        strong,
        span {
            color: inherit;
            font-weight: bold;
        }

        a {
            display: inline-block;
            transition: color 0.2s;

            &:after {
                @include animated-underline;
                width: 100%;
            }

            &:hover {
                color: $link;
            }
        }
    }
}

// Top Banner
.top-banner {
    background-color: $top-banner-bg;
    // @include brand-gradient;
    color: $top-banner-text;
    font-size: $size-7;
    font-weight: bold;
    padding: 0.5rem 0;
    // padding-top: $size-7;
    // padding-bottom: $size-7;
    position: relative;

    .icon {
        color: $top-banner-icon;
    }

    a {
        color: inherit;
        font-weight: inherit;
    }

    .container.is-fluid {

        @include until($navbar-breakpoint){
            padding-left: 32px;
            padding-right: 32px;
        }
    }
}


// Navigation Menu
@import "bulma/components/navbar.sass";

.navbar {

    @include until($navbar-breakpoint){
        background-color: $navbar-background-color-mobile;
    }

    .container {
        @include until($navbar-breakpoint) {
            padding-left: 32px;
            padding-right: 0;
        }
    }

    &-brand {
        position: relative;
        margin-left: 0!important;

        .navbar-item {
            @include until($navbar-breakpoint) {
                padding-left: 0;
            }
        }
    }

    &-title {
        text-align: left;
        font-size: $size-7;
        font-family: $family-headings;
        font-weight: $family-heading-weight;

        @include from($widescreen) {
            font-size: $size-6;
        }

        &:hover {
            transition: color 0.3s;
            color: $link;

            span {
                color: white;
            }
        }

        span {
            display: block;
            font-size: $size-7;
            color: inherit;
            font-weight: 400;

            @include from($widescreen) {
                font-size: $size-7;
            }
        }

    }

    &-item {
        transition: all 0.3s;
        text-align: center;
        position: relative;
        font-weight: $family-heading-weight;

        &:before {
            @include animated-underline;
            display: block;
            position: absolute;
            bottom: 25%;
            width: 0%;
            z-index: 99;

            @include until($navbar-breakpoint) {
                bottom: 0;
            }
        }

        &:hover {
            &:before {
                width: 100%;
            }
        }

        a {
            color: currentColor;
        }

        &.no-underline {
            &:before {
                display: none;
            }
        }
    }

    &-logo {
        padding-top: 1rem;
        padding-bottom: 1rem;

        img {
            max-width: $logo-max-width;
            max-height: $logo-max-height;

            @include until($navbar-breakpoint) {
                max-height: 3rem !important;
                padding: 0;
            }
        }
    }

    &-logo-overlap {

        padding: 0;

        @include from($navbar-breakpoint) {
            position: relative;
            top: 0;
            padding: 1rem;
            // padding-top: 0;
            margin-top: 0;
            margin-bottom: -40px;
            background-color: $logo-bg-colour;
            @include box-shadow-high;

            &:hover,
            &:focus {
                background-color: $logo-bg-hover-colour!important;
            }
        }

        img {
            padding: 0;
            max-width: 100%;
            max-height: $navbar-height;

            @include from($navbar-breakpoint) {
                position: relative;
                top: 0;
                bottom: -40px;
                left: 0;
                max-height: 120px;
            }
        }
    }

    &-menu {
        transition: all 0.3s;

        &.is-active {
            @include until($navbar-breakpoint) {
                width: 100%;
                min-height: 100vh;
                display: flex;
                position: fixed;
                top: 0;
                left: 0;
                background-color: rgba($navbar-background-color-mobile,0.95);
                
                .navbar-item {
                    color: $navbar-item-mobile-color;
                }
            }
        }
    }

    &-dropdown {
        font-size: 1rem;

        @include until($navbar-breakpoint) {
            padding: 0;
        }

        .navbar-item {
            &:hover {

                &:before {
                    @include from($navbar-breakpoint) {
                        display: none;
                    }
                }
            }
        }
    }

    &-divider {
        background-color: $navbar-divider-background-color!important;
    }

    &-end {
        @include until($navbar-breakpoint) {
            min-height: 100%;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
        }
    }

    &>.navbar-item {
        @include until($navbar-breakpoint) {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }

    &-burger {
        text-align: center;
        position: relative;

        &:hover {
            color: white;
            background-color: $primary;
        }

        &.is-active {
            z-index: 99;
            color: $navbar-burger-text;

            &:before {
                content: "Close";
                text-transform: uppercase;
                font-weight: bold;
                display: inline-block;
                position: relative;
                height: 5rem;
                line-height: 5rem;
                top: 50%;
                left: -60%;
                transform: translateX(0%) translateY(-50%);
            }

            &:hover {
                background-color: initial;
                color: $primary;
            }
        }

        span {
            height: 2px;
        }
    }
}

.site-nav-links {

    text-align: center;

    &>a {
        &:after {
            @include animated-underline;
            display: block;
            position: absolute;
            bottom: 25%;
            width: 0%;
            z-index: 99;

            @include until($navbar-breakpoint) {
                bottom: 0;
            }
        }

        &:hover {
            &:after {
                width: 100%;
            }
        }
    }
}

// Inherit font colour from parents Bulma modifier classes 

// .pre-heading > span,
.pre-heading {
    text-transform: uppercase;
    font-size: $preheading-size;
    font-weight: bold;
    margin-bottom: $size-5;
    display: block;
    color: $preheading-text;
}

// Page Content
.hero {
    // background: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // @include background-dots;
    @include hero-default-bg;
    position: relative;
    color: $hero-text;
    font-weight: normal;
    text-align: left;
    text-align: inherit;

    @include from($navbar-breakpoint) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    &-index {
        @include hero-index-bg;

        h1,
        h2 {
            font-size: $hero-title-size;
        }

        p {
            font-size: $hero-text-size;
        }
    }

    &-service {
        color: white;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @include until($tablet) {
            background-color: $secondary;
            background-image: none !important;
        }
    }

    &-fail {
        color: inherit;
        text-align: inherit;

        .has-accent {

            span,
            strong {
                color: $danger;
                font-weight: 600 !important;
            }
        }

        a {
            color: $link;
        }
    }

    &-success {
        color: inherit;
        text-align: inherit;
    }

    &-cta {
        background-color: $hero-cta-bg;
        border-radius: $hero-cta-corner-radius;
        @include box-shadow-offset-solid($hero-cta-shadow);
        color: white;
        font-weight: 600;
        padding: 1.25rem;
        margin: 0 auto;
        border: $hero-cta-border;

        @include from($tablet) {
            margin-top: 0rem;
        }

        h4 {
            display: inline-block;
            font-size: 150%;
            font-weight: bold;
            width: 100%;
            color: $hero-cta-number-text;
            margin-top: 0;
            margin-bottom: 1rem;

            @include from($desktop) {
                font-size: 200%;
            }
        }

        button {
            font-weight: bold;
            margin-top: 2rem;
        }
    }

    &-socials {
        display: grid;
        grid-gap: 1rem;
        justify-content: center;
        align-content: center;
        grid-auto-flow: column;
        margin-top: 2rem;

        @include until($navbar-breakpoint) {
            margin-top: 2rem;
        }

        a {
            color: $link;
            transition: color 0.3s;

            &:hover {
                color: $secondary;
            }
        }

        a[href^="#"] {
            display: none !important;
        }

        .icon {
            color: inherit;
            fill: inherit;

            &:hover {
                color: $link;
                fill: $link;
            }
        }
    }

    .gas-safe-emblem {
        position: relative;
        display: block;
        margin-bottom: 1rem;
        margin-right: 20px;
        margin-left: auto;
        width: 80px;
        // z-index: 90;

        @include from($desktop) {
            position: absolute;
            right: 10px;
            bottom: 10px;
            margin: 0;
        }
    }
}

.social-links {
    fill: inherit;
    display: grid;
    grid-gap: 1rem;
    justify-content: left;
    align-content: center;
    grid-auto-flow: column;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @include until($navbar-breakpoint) {
        margin-top: 2rem;
    }

    a {
        color: inherit;
        fill: currentColor;
        transition: color 0.3s;

        &:hover {
            color: inherit;
            fill: inherit;
        }
    }

    a[href$="#"] {
        display: none !important;
    }

    .icon {
        color: inherit;
        fill: inherit;
        transition: all 0.3s;

        &:hover {
            fill: $link;
            color: $link;
        }
    }
}

.company {

    &-intro {

        .columns {

            &:not(:last-child) {
                margin-bottom: $size-1 !important;
                padding-bottom: $size-3;
                border-bottom: $services-item-divider;
            }

            &:nth-of-type(odd) {
                flex-direction: row-reverse;
            }
        }

        &-content {
            color: $text;

            h2 {
                color: inherit;
            }

        }

        .image {
            img {
                @include box-shadow-below;
            }
        }
    }

    &-services {

        &-overview {
            background-color: $tertiary;
            @include background-dots;
            background-position: bottom;
            padding-bottom: 5rem;

            &-list {
                background-color: $tertiary;
                padding-bottom: 5rem;
            }

            &-item {
                margin-bottom: 1rem;

                h3 {
                    // color: white;
                    color: inherit;
                    font-size: $size-5;
                    margin-bottom: $size-7;
                }

                a {
                    display: inline-block;
                    color: inherit;
                    font-weight: 600;
                    margin-top: 1rem;

                    &:after {
                        @include animated-underline;
                        width: 100%;
                    }

                    &:hover {
                        color: $primary;
                        margin-right: 0.5rem;

                        &:after {
                            width: 100%;
                        }
                        
                        &>img {
                            opacity: 0.5;
                            transition: all 0.3s;
                        }
                    }

                }
            }
        }

        &-list {

            ul {
                margin-top: 2rem;
                columns: 1;

                @include from($tablet){
                    columns: 2;
                }

                @include from($desktop){
                    columns: 3;
                }

                li {
                    &:first-child {
                        margin-top: 0;
                    }

                    &:before {
                        content:"\f14a";
                        font-family: "FontAwesome";
                        margin-right: 10px;
                        color: $primary;
                    }

                    display: block;
                    background-color: white;
                    @include box-shadow-high;
                    padding: 10px;
                    margin: 10px;
            }
        }

            // .content {
            //     columns: 2;

            //     ul {
            //         margin-top: 0;
            //     }
            // }
        }

        &-item {

            &:not(:last-child) {
                margin-bottom: $size-1 !important;
                padding-bottom: $size-3;
                border-bottom: $services-item-divider;
            }

            &:last-child {
                padding-bottom: $size-5;
            }

            // Flip the columns to make it pretty
            &:nth-of-type(odd) {
                flex-direction: row-reverse !important;
            }

            hr {
                top: -10px;
                position: relative;
                // display: inline-block;
                height: 3px;
                width: 60px;
                background-color: $primary;
                border: 0px !important;
            }

        }

        &-image {
            &>img {
                @include rounded-corners;
                @include box-shadow-below;
            }
        }
    }

    &-icon {
        color: $primary;
        width: 2rem;
        height: 2rem;
        font-size: 2rem;
    }
}

// Customer Reviews 
.review {

    &-section {
        background: $review-section-bg;
        color: $review-section-text;
    }

    &-grid,
    &-slider {
        .column {
            display: flex;
        }
    }

    &-slider {
        padding-bottom: $size-2;

        &-nav {

            &-button,
            &-button:active,
            &-button:focus {
                background: $review-nav-bg;
                color: $review-nav-text;
                border: $review-nav-border;

                &:hover {
                    background-color: $review-nav-bg-hover;
                    color: $review-nav-text-hover;
                    border: $review-nav-border;
                }
            }
        }

        &-dots {
            text-align: center;
            margin-top: 2rem;

            &>[aria-controls] {
                width: $review-dots-width;
                height: $review-dots-height;
                padding: 0;
                margin: 0 5px;
                margin-top: 0px;
                margin-top: 1em;
                border-radius: $review-dots-border-radius;
                background: $review-dots-bg;
                border: $review-dots-border;
            }

            &>.tns-nav-active {
                background: $review-dots-bg-active;
            }
        }
    }

    &-card {
        @include box-shadow-stripe;
        background-color: white;
        color: $text;
        border-radius: 0.5rem;
        display: flex;
        flex-grow: 1;
        border: solid 1px lighten(black, 95%);

        figure {
            text-align: left;
            margin-left: 0;
            margin-right: 0;

            figcaption {
                font-size: $size-4;
                font-weight: 600;
                font-style: inherit;
                text-align: inherit;
            }
        }
    }

    &-quote {
        @include from($navbar-breakpoint) {
            width: 960px;
        }

        width:100%;
        max-width: 860px;
        margin: 0 auto;
        text-align: center;

        figure {
            margin-left: 0;
            margin-right: 0;

            figcaption {
                font-size: $size-4;
                font-weight: 600;
                font-style: inherit;
                text-align: inherit;
                margin-bottom: $size-4;
            }
        }
    }

    &-stars {
        color: $review-stars;
        margin: 0.5rem 0 1rem;

        .stars-remaining {
            color: $review-stars-remaining;
        }
    }
}

// Image Gallery 
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    @include from($desktop) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include from($fullhd) {
        grid-template-columns: repeat(4, 1fr);
    }

    a {
        position: relative;
        flex-grow: 1;
        opacity: 1;
        background-color: $secondary;
        transition: all 0.2s ease-in-out;
        @include box-shadow-below;

        &:hover {
            // @include box-shadow-below();

            img {
                opacity: 0.4;
            }

            &:after {
                opacity: 1;
                top: 50%;
            }
        }

        img {
            width: 100%;
            vertical-align: bottom;
            position: relative;

            &:hover {
                transition: box-shadow 0.3s ease-out;
                opacity: 0.4;
            }
        }

        &:after {
            content: "\f06e";
            font-family: FontAwesome;
            color: white;
            text-align: center;
            position: absolute;
            opacity: 0;
            top: 100%;
            left: 50%;
            transform: Translate(-50%, -50%);
            transition: all 0.3s;
        }
    }

}

// Call to Action banner
.cta {

    &-banner {
        background-color: $secondary;
        display: block;
        color: $white;
        text-align: center;
        font-size: $size-5;
        position: relative;
        margin-top: -5rem;
        // margin-bottom: 2rem;
        border: solid 4px white;
        padding: 2rem;
        font-weight: 600;
        @include rounded-corners;
        @include box-shadow-high;
        // @include background-paved;

        a {
            // color:white;
            display: inline-block;

            &:after {
                @include animated-underline;
                background-color: white;
                width: 100%;
            }

            &:hover {
                // color: $primary;

                &:after {
                    width: 0%;
                }
            }
        }
    }

    &-finance {
        background-color: $accent;
        color: $text;

        h2 {
            margin: 0 auto;
        }
    }
}

.accreditations {
    display: flex;

    &-banner {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(128px, 0.5fr));
        // grid-auto-flow: column;
        padding-top: $size-4;
        padding-bottom: $size-2;

        @include until($fullhd) {
            padding-left: 32px;
            padding-right: 32px;
            // grid-template-columns: repeat(3, 1fr);
        }

        @include from($desktop) {
            grid-template-columns: none;
            grid-auto-flow: column;
            align-items: center;
            justify-items: center;
            // grid-template-columns: repeat(auto-fill, minmax(128px, 0.5fr));

        }

        img {
            @include box-shadow-below;
            display: block;
        }
    }

    &-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(128px, 0.5fr));
        gap: 1.75rem;

        @include until($desktop) {
            margin-top: 2rem;
        }

        img {
            @include box-shadow-below;

            &:nth-child(even) {
                @include from($navbar-breakpoint) {
                    margin-top: 2rem;
                }
            }
        }
    }

    &-item {          
        padding-top:1.5rem;
        padding-bottom:1.5rem;
        flex: 0 1 50%;
        // margin: 0 0.5rem;
        margin-bottom: 2rem!important;

        @include from($tablet) {
            @include until($navbar-breakpoint) {
                padding: 0.5rem;
                flex: 0 0 50%;
            }
        }

        @include from($desktop) {
            padding-left: 2rem;
            padding-right: 2rem;
            flex: 0 0 20%;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
        
        img {
            max-height: 130px;
            filter: grayscale(100%);
            transition: all 0.2s;

            &:hover {
                filter: grayscale(0%);
            }
        }
    }
}

// Our Process
.our-process {

    i {
        color: $primary;
    }
}

// Why Us Banner
.why-us {

    &-banner {
        background-color: $why-us-bg;
        color: $why-us-text;

        i {
            margin-bottom: 1rem;
            color: darken(white, 10%);
            font-size: 1.75rem;
        }

        h3 {
            color: $text;
        }
    }
}

.level {
    flex-wrap: wrap !important;

    &-item {

        img {
            
        }
    }
}

.stats-row {
    background-color: $tertiary;

    &-item {            
        padding-top:1.5rem;
        padding-bottom:1.5rem;
        flex: 0 0 25%;
        background: white;
        @include box-shadow-below;
        border-radius: $image-corner-radius;
        margin: 0 0.5rem;
        margin-bottom: 2rem!important;

        @include from($tablet) {
            @include until($navbar-breakpoint) {
                padding: 0.5rem;
                flex: 0 0 33%;
            }
        }

        @include from($desktop) {
            padding-left: 2rem;
            padding-right: 2rem;
            flex: 0 0 20%;

            &:first-child {
                margin-left: 0;
            }
    
            &:last-child {
                margin-right: 0;
            }
        }

        h3 {
            font-weight: 800;
            font-size: $size-3;
            line-height: 2rem;
            color: $text;

            span {
                color: lighten($accent, 0%);
                font-size: $size-5;
            }
        }

        .icon {
            color: $accent;
            margin-top: 0.75rem;
            margin-bottom: 1rem;
            font-size: 1.75rem;
        }
    }
}

// Quote Form Modal Pop-up
.modal-trigger {

    margin-left: inherit auto;

    @include from($navbar-breakpoint) {
        margin-left: 1rem;
    }

}

.quote-modal {

    .modal-card {

        // background-color: #fcfcfc;
        width: auto;

        &-head,
        &-body,
        &-foot {
            background-color: inherit;
            border: none;
        }
    }
}

.service {

    &-page {

        &-list {
            background-color: lighten($secondary, 0%);
            color: white;
            @include box-shadow-offset-solid($hero-cta-shadow);
        }
    }
}

// Contact Page
.contact {

    &-details {

        color: inherit;

        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $text;
            font-weight: $family-heading-weight;
        }

        p {
            font-size: $size-7;
            font-style: italic;
            color: $text;
        }

        address {
            display: block;
            // margin-bottom: $size-7;

            .icon-text {
                margin-bottom: .5rem;
            }
        }

        .icon {
            &-text {
                display: block;

                .icon {
                    color: $link;
                    fill: $link
                }
            }
        }

        a {
            color: inherit;
            fill: inherit;

            &:hover {
                color: $primary;
            }
        }
    }

    &-form {
        padding: 0.75rem;
    }
}

.help {
    color: $grey-light;
}

// Map section
.map {
    margin-bottom: 3rem;
    width: 100%;
}

.ol-viewport {
    min-height: 500px;

    @include until($desktop) {
        min-height: 300px;
    }
}

.policy-content {
    
    strong {
        font-weight: bold;
    }
}

// Site Footer 
.site-footer {
    background-color: $site-footer-bg;
    color: $site-footer-text;
    // @include background-paved;

    &-company-info {

        @include until($desktop) {
            margin-bottom: 2rem;
        }

        h4 {
            margin-bottom: 1rem;
            font-size: $size-6;

            span {
                font-size: $size-4;
                font-weight: bold;
            }
        }

        h5 {
            font-weight: normal;
            font-size: $size-7;
            line-height: 1.4em;
        }

        .button-primary {
            margin-top: 2rem;
        }
    }

    &-links {
        a {
            font-size: $size-7;
            color: white;
            fill: white;
            text-decoration: none;
            transition: color 0.3s;
            display: inline-block;

            &:after {
                @include animated-underline;
            }

            &:hover {
                color: $primary;

                &:after {
                    width: 100%;
                }
            }
        }

        h4 {
            font-size: $size-6;
        }

        &.has-columns ul {
            column-count: 2;
            column-gap: 10px;

            @include until($fullhd) {
                column-count: 1;
            }

            a:before {
                line-height: 2rem;
            }
        }
    }

    &-signoff {
        background-color: $site-footer-signoff-bg;
        text-align: center;
        padding-top: $size-4;
        padding-bottom: $size-4;
        color: $site-footer-signoff-text;
        font-size: $size-7;
    }

    .emblem {
        position: relative;

        .gas-safe-emblem {
            position: relative;
            display: block;
            width: 80px;
            margin-left: auto;
            margin-right: 20px;
            margin-bottom: 20px;
            z-index: 99;

            @include from ($desktop) {
                position: absolute;
                right: 18px;
                bottom: 18px;
                margin: 0;
            }
        }
    }
}

@import "simple-lightbox.scss";