					{{- $currentPage := . }}
					{{- range where (where .Site.RegularPages "Type" "services-list") "File.Dir" "services/" }}
					<div class="columns company-services-list is-multiline _is-variable is-vcentered is-8">
						<div class="column is-12-touch is-12-desktop is-12-fullhd">
							{{/*  <h2>{{ .Site.Params.industry | humanize }} services we offer</h2>
							<div class="pre-heading" data-aos="fade-down">What we do</div>  */}}
							<div class="content has-accent my-4" data-aos="fade-in">
								{{ .Content }}							
							</div>
						</div>
					</div>
				{{ end }}