					{{- $currentPage := . }}
					{{- range where (where .Site.RegularPages "Type" "services-list") "File.Dir" "services/" }}
					<div class="columns company-services-item is-multiline is-vcentered is-variable is-8">
						<div class="column is-12-touch is-12-desktop">
							{{/*  <div class="pre-heading" data-aos="fade-down">What we do</div>  */}}
							<div class="_content _has-accent company-services-list" data-aos="fade-right">
								{{ .Content }}							
							</div>
							<div class="content has-text-centered mt-6">
								<p>We operate within a <b>15 mile radius</b> of the <b>WV14</b> post code.</p>
							</div>
						</div>
					</div>
				{{ end }}