					<div class="columns is-desktop is-multiline is-variable is-centered is-4">
					{{/* Automatically increment the aos-delay value */}}
					{{- $currentPage := . -}}
					{{- $.Scratch.Set "delay" 0 }}
					{{- range where (where .Site.RegularPages "Type" "service-item") "File.Dir" "services/" -}}
					{{- $i := $.Scratch.Get "delay" }}
						{{- $.Scratch.Set "delay" (add ($.Scratch.Get "delay") 100) }}
						<div class="column is-6-tablet is-one-third-desktop is-one-fifth-widescreen company-services-overview-item" data-aos="fade-in" data-aos-delay="{{ print $i }}">
							<div class="image is-5by4 _company-services-image mb-4">
								{{- $image := resources.Get .Params.image }}
								<a href="/services.html#{{ anchorize .Title }}">
								{{- if $image }}
								{{- with .Site.Params }}
								<img src='{{ ($image.Fill "1200x1200 q70 Center").RelPermalink }}' 
									class="has-rounded-corners"
									alt="{{ if .seo }}{{ .seo|humanize }}{{ else }}{{.industry|humanize}}{{ end }} in {{ .towncity }}{{ if .county }} and {{ .county }} {{- end }}" 
									title="{{ if .seo }}{{ .seo|humanize }}{{ else }}{{.industry|humanize}}{{ end }} in {{ .towncity }}{{ if .county }} and {{ .county }} {{- end }}"/>
								{{ end -}}
								{{ else }}
								<img class="has-rounded-corners" src='/images/placeholder.jpg'/>
								{{- end }}
								</a>
							</div>
							<h3>{{ .Params.title }}</h3>
							<p>{{ .Params.desc }}</p>
							<div>
								<a href="/services.html#{{ anchorize .Title }}">More info</a> <span class="icon"><i class="fa-regular fa-sm fa-arrow-right"></i></span>
							</div>
						</div>
					{{ end -}}
					</div>