<section class="review-section">
				<div class="container section is-fullhd ">
					<div class="columns is-centered is-multiline is-mobile is-variable is-4">
						<div class="column has-text-centered" data-aos="fade-in">
							<h2>Our reviews speak for themselves</h2>
						</div>
						{{/*  <div class="column is-narrow" data-aos="fade-in">
							<span class="icon company-icon">
								<i class="fa-light fa-message-heart"></i>
							</span>
						</div>  */}}
					</div>
				</div>
				<div class="columns is-multiline is-mobile review-slider">
					{{ $slides := 6 }}
					{{ range first $slides (where (where .Site.RegularPages "Type" "review") "File.Dir" "reviews/") }}
						{{ partial "review-slider/review-quote.html" . }}
					{{ end -}}
				</div>
				<div class="_container py-5 has-text-centered _is-fluid">
					<div class="columns">
						{{/*  <div class="column is-8 is-offset-2">
							<div class="is-grouped">
								<div data-aos="fade-right" data-aos-anchor-placement="bottom-bottom">
									<button class="button button-primary ml-0 modal-trigger" data-target="quote-modal"  href="#">{{ .Site.Params.modalbuttontext }} <i class="fa-solid fa-arrow-right"></i></button>
								</div>
							</div>
						</div>  */}}
						<div class="column text-align-center _is-narrow">
							<div id="review-slider-controls" class="buttons is-small is-centered" aria-label="Carousel Navigation" tabindex="0">
								<button class="button review-slider-nav-button" aria-controls="review-slider" tabindex="-1" data-controls="prev">
									<span class="icon is-medium">
										<i class="fa-regular fa-arrow-left"></i>
									</span>
								</button>
								<button class="button review-slider-nav-button" aria-controls="review-slider" tabindex="-1" data-controls="next">
									<span class="icon is-medium">
										<i class="fa-regular fa-arrow-right"></i>
									</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</section>

	{{- define "scripts" -}}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
		<script>
			var slider = tns({
			    container: '.review-slider',
				autoHeight: false,
			   	items: 1,
			    slideBy: 1,
			    loop: true,
			    autoplay: false,
			    autoplayButtonOutput: false,
			    autoplayHoverPause: true,
			    speed: 800,
			    gutter: 0,
			    edgePadding: 10,
			    center: true,
			    nav: false,
			    controls: true,
			    controlsContainer: '#review-slider-controls',
			    preventActionWhenRunning: true,
				responsive: {
			        960: {
			            items: 2,
			            controls: true,
			            center: false,
			        },
			        1024: {
			            gutter: 20,
			            items: 2,
			            edgePadding: 40,
			            center: true,
			        },
			        1280: {
			            items: 2,
			            edgePadding: 40,

			        }
			    }
			});
		</script>
		
	{{ end }}