    <div class="container is-fullhd">
      <div class="accreditations-banner">
        <img src="images/creds/checkatrade.png" alt="" title="">
        <img src="images/creds/cityandguilds.png" alt="" title="">
        <img src="images/creds/gardenersguild.png" alt="" title="">
        <img src="images/creds/checkatrade.png" alt="" title="">
        <img src="images/creds/cityandguilds.png" alt="" title="">
        <img src="images/creds/gardenersguild.png" alt="" title="">
      </div>
    </div>