<section class="section cta-bg-image">
					<div class="container is-fullhd">
						<div class="columns is-multiline is-centered is-vcentered">


							<div class="column is-12-mobile is-10-tablet is-offset-1-tablet is-8-desktop is-offset-0-desktop is-6-fullhd has-text-centered">
								<div class="content">
									<div class="" data-aos="fade-down">
										<span class="pre-heading" data-aos="fade-left">
											Looking for a carpenter?
										</span>
									</div>
									<div class="has-accent" data-aos="fade-left">
										<h2>We also offer <span>carpentry and joinery</span> services across {{ if $.Site.Params.county }}{{ .Site.Params.county }}{{ else }}{{ .Site.Params.towncity }}{{ end }}?</h2>
										<p>Visit our sister site <a href="http://nookscarpentryandpropertymaintenance.co.uk" target="_blank" rel="noopener"><em>Nooks Carpentry</em></a> for more details.</p>
									</div>
								</div>
							</div>


						</div>
					</div>
			</section>