			<section class="section stats-row">
				<div class="container is-fullhd">


					<div class="columns is-multiline is-centered is-mobile is-variable">
						<div class="column has-text-centered is-12-touch is-6-desktop" data-aos="fade-in">
							<h2>Our Company Values</h2>
						</div>
					</div>


                    <div class="level container mt-6 is-align-items-stretch" data-aos="fade-up">


                        <div class="level-item stats-row-item has-text-centered is-align-content-flex-start">
                            <div class="stats-row-content">
                                <span class="icon">
                                    <i class="fa-regular fa-thumbs-up fa-flip-horizontal"></i>
                                </span>
                                    <h3>Reliability</h3>
                                    <p>Fire doesn't wait. That's why we strive for prompt response times and fast but thorough work completion.</p> 
                            </div>
                        </div>
                        <div class="level-item stats-row-item has-text-centered is-align-content-flex-start">
                            <div class="stats-row-content">
                                <span class="icon">
                                    <i class="fa-sharp fa-regular fa-shield-check"></i>
                                </span>
                                    <h3>Safety</h3>
                                    <p>Safety is our first priority, both on-site and once we've left. All our work adheres to UK fire safety regulations.</p> 
                            </div>
                        </div>	
                        <div class="level-item stats-row-item has-text-centered is-align-content-flex-start">
                            <div class="stats-row-content">
                                <span class="icon">
                                    <i class="fa-light fa-award"></i>
                                </span>
                                <h3>Expertise</h3>
                                <p>We are certified, accredited and highly experienced. Rest assured our work is completed to the highest standards.</p> 
                            </div>
                        </div>	


                    </div>


				</div>
			</section>