<section class="section">
					<div class="container is-fullhd">
					    <div class="columns is-multiline _is-vcentered">

							<div class="column is-6-desktop _is-7-widescreen is-6-fullhd">
								<div class="content">
									<div class="" data-aos="fade-down">
										<span class="pre-heading" data-aos="fade-left">
											Get a cost
										</span>
									</div>
									<div class="has-accent" data-aos="fade-left">
										<h2>Looking for <span>{{ .Site.Params.industry }}</span> services in {{ if $.Site.Params.county }}{{ .Site.Params.county }}{{ else }}{{ .Site.Params.towncity }}{{ end }}?</h2>
										<p>Simply send us images or a short video of what you need clearing or removing and we will get back to you with a quote the same day.</p>
										<p>Already got a quote? Send us images via WhatsApp on <b>{{- if .Site.Params.phone }}{{- .Site.Params.phone -}}{{ else }}{{- .Site.Params.mobile -}}{{- end -}}</b> and see if The Dog can beat it!</p>
									</div>
								</div>
							</div>

							<div class="column is-6-tablet _is-offset-1-tablet is-5-desktop is-offset-1-desktop is-4-fullhd is-offset-2-fullhd" data-aos="fade-right">
								<div class="content _box hero-cta">
									<h3>Get a Cost</h3>
									<hr/>
									<h4>
									{{- if .Site.Params.phone }}
										{{- .Site.Params.phone -}}
									{{ else }}
										{{- .Site.Params.mobile -}}
									{{- end -}}
									</h4>
									<p>Speak to us now and get a cost today!</p>
									<p>Simply send us images or a short video of what you need clearing and we'll give you a no obligation, fixed cost for our services.</p>
									<a href='https://wa.me/{{- if .Site.Params.phone }}{{- replaceRE "(\\s)" "" .Site.Params.phone -}}{{ else }}{{- replaceRE "(\\s)" "" .Site.Params.mobile -}}{{- end -}}' class="button button-primary is-fullwidth ml-0">
										<span class="icon-text">
										  <span class="icon is-hidden-touch">
										    <i class="fa-brands fa-whatsapp"></i>
										  </span>
										  <span>Message The Dog</span>
										</span>
									</a>
								</div>
							</div>

						</div>
					</div>
			</section>