<section class="section cta-bg-image">
					<div class="container is-fullhd">
						<div class="columns is-multiline is-vcentered">


							<div class="column is-12-mobile is-10-tablet is-offset-1-tablet is-8-desktop is-offset-0-desktop is-6-fullhd ">
								<div class="content">
									<div class="" data-aos="fade-down">
										<span class="pre-heading" data-aos="fade-left">
											Arrange a quotation
										</span>
									</div>
									<div class="has-accent" data-aos="fade-left">
										<h2>Looking for <span>{{ .Site.Params.industry }}</span> services in {{ if $.Site.Params.county }}{{ .Site.Params.county }}{{ else }}{{ .Site.Params.towncity }}{{ end }}?</h2>
										<p>Call us today on <b>{{- if .Site.Params.phone }}{{- .Site.Params.phone -}}{{ else }}{{- .Site.Params.mobile -}}{{- end -}}</b> and we'll be happy to answer any questions or arrange a free, no obligation quote.</p>
									</div>
									<div class="is-grouped mt-5">
										<div data-aos="fade-right" data-aos-anchor-placement="bottom-bottom">
											<button class="button button-primary ml-0 modal-trigger" data-target="quote-modal"  href="#">Request a Callback <i class="fa-solid fa-arrow-right"></i></button>
										</div>
									</div>
								</div>
							</div>


						</div>
					</div>
			</section>