<section class="section">
               <div class="container is-fullhd">
                  <div class="content cta-banner" data-aos="fade-up">
                     <p>We can scrap anything! If you don't see a specific service you need listed above, send us pictures of your job to 
                     {{ if $.Site.Params.phone }}
                        <a href='https://wa.me/{{- replaceRE "(\\s)" "" .Site.Params.phone |  -}}'>{{ .Site.Params.phone }}</a>
                     {{ else -}}
                        <a href='https://wa.me/{{- replaceRE "(\\s)" "" .Site.Params.mobile |  -}}'>{{ .Site.Params.mobile }}</a>
                     {{- end }}
                     and we'll be happy to give you a quote.</p>
                  </div>
               </div>
            </section>