<section class="review-section">
    <div class="container section is-fullhd ">
        <div class="columns is-multiline is-mobile is-variable is-4">
            <div class="column" data-aos="fade-in">
                <h2>Recently completed projects</h2>
            </div>
            <div class="column is-narrow" data-aos="fade-in">
                <span class="icon company-icon">
                    <i class="fa-light fa-bath"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="columns is-multiline is-variable is-6">
        <div class="container is-fullhd">  
            <div id="image-slider" class="slider">
                <img src="/images/gallery/blue-hippo-bathrooms-1.jpg" title="" alt="">
                <img src="/images/gallery/blue-hippo-bathrooms-2.jpg" title="" alt="">
                <img src="/images/gallery/blue-hippo-bathrooms-3.jpg" title="" alt="">
                <img src="/images/gallery/blue-hippo-bathrooms-4.jpg" title="" alt="">
                <img src="/images/gallery/blue-hippo-bathrooms-10.jpg" title="" alt="">
                <img src="/images/gallery/blue-hippo-bathrooms-6.jpg" title="" alt="">
            </div>
        </div>
    </div>
    <div class="container py-5 has-text-centered is-fluid">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <div class="is-grouped">
                    <div data-aos="fade-right" data-aos-anchor-placement="bottom-bottom">
                        <a class="button button-primary ml-0" href="/our-work.html">View more work<i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="column text-align-right is-narrow">
                <div id="image-slider-controls" class="buttons is-small is-centered" aria-label="Carousel Navigation" tabindex="0">
                    <button class="button review-slider-nav-button _is-light" aria-controls="image-slider" tabindex="-1" data-controls="prev">
                        <span class="icon is-medium">
                            <i class="fa-regular fa-arrow-left"></i>
                        </span>
                    </button>
                    <button class="button review-slider-nav-button _is-light" aria-controls="image-slider" tabindex="-1" data-controls="next">
                        <span class="icon is-medium">
                            <i class="fa-regular fa-arrow-right"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

{{- define "scripts" -}}
{{/*  <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>  */}}

{{ end }}