<nav class="navbar" role="navigation" aria-label="main navigation">
				<div class="container is-fluid">  
				    <div class="navbar-brand">
						<a class="navbar-item navbar-logo no-underline" href="/index.html">
							{{- with .Site.Params }}
							{{ if .logo }}
							<img src="/images/{{ .logo }}"/>
							{{- else }}
							<div class="content navbar-title">
								{{ .company }}
								<span>{{ .industry | humanize }} services in {{ .towncity }}</span>
							</div>
							{{ end -}}
							{{ end -}}
						</a>
						<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-site">
							<span aria-hidden="true"></span>
							<span aria-hidden="true"></span>
							<span aria-hidden="true"></span>
						</a>
				    </div>
					<div id="navbar-site" class="navbar-menu">
						<div class="navbar-end has-text-centered">
						    <a href="/index.html" class="navbar-item">
							Home
							</a>

							{{/*  Dropdown  */}}
							<div class="navbar-item has-dropdown is-hoverable no-underline">
								<a href="/services.html" class="navbar-link is-hidden-touch">
								  Services
								</a>
								<div class="navbar-dropdown">
							    {{- $currentPage := . }}
								{{- range where (where .Site.RegularPages "Type" "service-page") "File.Dir" "services/" }}
									<a class="navbar-item" href="{{ .RelPermalink }}" title="{{ .Title }}">
									{{- if .Params.anchor -}}
									  {{ .Params.anchor }}
									{{- else -}}
									  {{- .Title }}
									{{- end -}}
									</a>
									<hr class="navbar-divider">
								{{- end }}
								<a class="navbar-item" href="/services.html" title="View all services">
									View All Services
								</a>
								</div>
					      	</div>
							{{/*  END dropdown  */}}
							{{/*  Main Nav  */}}
						    {{- $currentPage := . }}
						    {{ range .Site.Menus.main -}}
						    <a href="{{ .URL }}" title="{{ .Title }}" class="navbar-item">
								{{- if .Page.Params.anchor -}}
								  {{ .Page.Params.anchor }}
								{{- else -}}
								  {{- .Title }}
								{{- end -}}
							</a>
						    {{ end }}
						    <div class="navbar-item has-text-centered modal-trigger no-underline" data-target="quote-modal">
						      <button class="button-primary">{{ .Site.Params.modalbuttontext }}</button>
						    </div>
						</div>
					</div>
				</div>
			</nav>