			<section class="section price-list">
				<div class="container has-text-centered is-fullhd">
					<div class="content">
						<h2>Drain tag</h2>
						<p>Our prices are clear and transparent.</p>
					</div>
					<div class="columns mt-4 is-multiline has-text-centered">
						<div class="column is-12-tablet is-3-desktop">
							<div class="content price-list-card">
								<h3>Pack of 25</h3>
								<span>(Holds 5-7 people)</span>
								<hr/>
								<p class="price-list-price">£150 per day</p>
								<hr/>
								<p class="price-list-price-extras">add £20 for a gazebo</p>
								<p class="price-list-price-extras">add another £20 for gazebo sides</p>
							</div>
						</div>
						<div class="column is-6-tablet is-3-desktop">
							<div class="content price-list-card">
								<h3>Pack of 50</h3>
								<span>(Holds 3-4 people)</span>
								<hr/>
								<p class="price-list-price">£130 per day</p>
								<hr/>
								<p class="price-list-price-extras">add £20 for a gazebo</p>
								<p class="price-list-price-extras">add another £20 for gazebo sides</p>
							</div>
						</div>
						<div class="column is-6-tablet is-3-desktop">
							<div class="content price-list-card">
								<h3>Pack of 100</h3>
								<span>(Holds 3-4 people)</span>
								<hr/>
								<p class="price-list-price">£130 per day</p>
								<hr/>
								<p class="price-list-price-extras">add £20 for a gazebo</p>
								<p class="price-list-price-extras">add another £20 for gazebo sides</p>
							</div>
						</div>
						<div class="column is-6-tablet is-3-desktop">
							<div class="content price-list-card">
								<h3>Pack of 200</h3>
								<span>(Holds 1-2 people)</span>
								<hr/>
								<p class="price-list-price">£120 per day</p>
								<hr/>
								<p class="price-list-price-extras">add £20 for a gazebo</p>
								<p class="price-list-price-extras">add another £20 for gazebo sides</p>
							</div>
						</div>
					</div>
					<div class="content mb-4 mt-5">
						<p><b>All orders come complete with all required fittings and include free UK postage.</b></p>
					</div>
				</div>
			</section>