<div class="column is-12-mobile is-6-tablet is-flex" data-aos="fade-in">
								<div class="review-card">
									<div class="card-content">
										<div class="media content">
											<figure class="media-content">
												<figcaption>{{ .Title }}</figcaption>
												<div class="review-stars">
												{{- if .Params.rating -}}
												{{/* 
												Get the rating from the review .MD file if it's set,
												and calculate the rating out of 5 using modulus
												*/}}
													{{- $rating := .Params.rating -}}
													{{- $stars := sub .Params.rating 5 -}}
													{{- range $num := (seq $rating) }}
													<span class="icon stars"><i class="fa-solid fa-star-sharp"></i></span>
													{{- end -}}
													{{- if (ne $stars "0") -}}
												{{/* 
												Check if the modulus outcome is 0 and don't render 
												the markup for the extra stars to keep it clean
												*/}}
													{{- range $num := (seq $stars) -}}
													<span class="icon stars-remaining"><i class="fa-solid fa-star-sharp"></i></span>
													{{ end }}
													{{ end }}
												{{/* If no rating is set, just show 5 stars */}}
												{{ else -}}
													{{- range $num := (seq 5) }}
													<span class="icon"><i class="fa-solid fa-star-sharp"></i></span>
													{{- end -}}
												{{- end }}
												</div>
											</figure>
										</div>
										<blockquote class="content">
											{{ .Content }}
										</blockquote>
									</div>
								</div>
							</div>