			<div class="section">
				<div class="container _is-fluid is-fullhd">
					<div class="columns is-mobile is-vcentered is-8 is-multiline">

						<div class="column is-12-mobile is-4-tablet is-2-fullhd ">
							<div class="content site-footer-company-info">
								<img src="images/{{ .Site.Params.logo }}" width="200px"/>
							</div>
						</div>
						<div class="column is-12-mobile is-4-tablet is-4-fullhd is-offset-1-fullhd">
							<div class="content site-footer-links has-columns">
								<h4>About Us</h4>
								<p>We strive to build high-specification homes, with technological innovation that meet consumers’ specifications and environmental standards.</p>
							</div>
						</div>
						<div class="column is-12-mobile is-4-tablet is-4-fullhd is-offset-1-fullhd">
							<div class="content site-footer-links has-columns">
								<h4>Site Links</h4>
								<ul>
									{{- range .Site.Menus.footer }}
									<li><a href="{{ .URL }}" title="{{ .Title }}">{{ .Title }}</a></li>
									{{- end }}
								</ul>
							</div>
						</div>

					{{/*  <div class="column _is-12-mobile is-3-tablet _is-3-desktop is-4-fullhd is-offset-1-fullhd">
						<div class="content site-footer-links has-columns">
						<h4>Primary Services</h4>
							<ul>
								{{- range where (where .Site.RegularPages "Type" "service-item") "File.Dir" "services/" }}
								<li><a href="./services.html">
									{{- if (ne .Params.anchor nil) }}
										{{- .Params.anchor -}}
									{{- else -}}
										{{- .Title -}}
									{{- end -}}
								</a></li>
								{{- end }}
							</ul>
						</div>
					</div>  */}}

					</div>
				</div>
			</div>
			<div class="container is-fluid site-footer-signoff">
				<div class="content">
					{{- with .Site.Params }}
					Website by New World Digital Media on behalf of {{ .fullname }} | <address>{{ .building }}, {{ .street }}, {{ .towncity }}, {{ .postcode }}</address>
					{{- end }}
				</div>
			</div>