	<div class="level container is-full-hd box" data-aos="fade-up">
		<div class="level-item stats-row-item has-text-centered">
			<div>
				<h3>
					2,000 
					<span>homes built by 2028</span> 
				</h3>
			</div>
		</div>
		<div class="level-item stats-row-item has-text-centered">
			<div>
				<h3>
					£500,000,000
					<span>pipeline value</span> 
				</h3>
			</div>
		</div>	
		<div class="level-item stats-row-item has-text-centered">
			<div>
				<h3>
					1,000 Sq.Ft.
					<span>brownfield sites reclaimed</span> 
				</h3>
			</div>
		</div>	
		<div class="level-item stats-row-item has-text-centered">
			<div>
				<h3>
					56,000 
					<span>local jobs created</span>
				</h3>
			</div>
		</div>	
	</div>