<section class="section stats-row">
	<div class="level container box" data-aos="fade-up">
		<div class="level-item stats-row-item has-text-centered">
			<div>
				<span class="icon">
					<i class="fa-solid fa-wrench"></i>
				</span>
				<h3>
					200+ <br/>
					<span>Jobs Completed</span> 
				</h3>
			</div>
		</div>
		<div class="level-item stats-row-item has-text-centered">
			<div>
				<span class="icon">
					<i class="fa-solid fa-users"></i>
				</span>
				<h3>
					300+ <br/>
					<span>Happy Clients</span> 
				</h3>
			</div>
		</div>	
		<div class="level-item stats-row-item has-text-centered">
			<div>
				<span class="icon">
					<i class="fa-solid fa-message-smile"></i>
				</span>
				<h3>
					100+ <br/>
					<span>5 Star Reviews</span> 
				</h3>
			</div>
		</div>	
		<div class="level-item stats-row-item has-text-centered">
			<div>
				<span class="icon">
					<i class="fa-solid fa-clock"></i>
				</span>
				<h3>
					1500+ <br/>
					<span>Hours Experience</span> 
				</h3>
			</div>
		</div>	
	</div>
</section>