	<div class="level container _box mt-6" data-aos="fade-up">
		<div class="level-item stats-row-item has-text-centered">
			<div>
				<span class="icon">
					<i class="fa-solid fa-wrench"></i>
				</span>
				<h3>
					Company Value<br/>
					<span>Company Value</span> 
				</h3>
			</div>
		</div>
		<div class="level-item stats-row-item has-text-centered">
			<div>
				<span class="icon">
					<i class="fa-solid fa-users"></i>
				</span>
				<h3>
					Company Value<br/>
					<span>Company Value</span> 
				</h3>
			</div>
		</div>	
		<div class="level-item stats-row-item has-text-centered">
			<div>
				<span class="icon">
					<i class="fa-solid fa-message-smile"></i>
				</span>
				<h3>
					Company Value<br/>
					<span>Company Value</span> 
				</h3>
			</div>
		</div>	
	</div>