	<div class="level container _box mt-0">
		<div class="level-item stats-row-item has-text-centered" data-aos="fade-up" data-aos-delay="100">
			<div>
				<span class="icon">
					<i class="fa-solid fa-clock"></i>
				</span>
				<h3>
					2019 <br/>
					<span>Established</span> 
				</h3>
			</div>
		</div>
		<div class="level-item stats-row-item has-text-centered" data-aos="fade-up" data-aos-delay="200">
			<div>
				<span class="icon">
					<i class="fa-solid fa-wrench"></i>
				</span>
				<h3>
					200+ <br/>
					<span>Jobs Completed</span> 
				</h3>
			</div>
		</div>
		<div class="level-item stats-row-item has-text-centered" data-aos="fade-up" data-aos-delay="300">
			<div>
				<span class="icon">
					<i class="fa-solid fa-message-smile"></i>
				</span>
				<h3>
					30+ <br/>
					<span>5 Star Reviews</span> 
				</h3>
			</div>
		</div>		
	</div>