			<!-- Top Banner -->
			{{- with .Site.Params }}
			<aside class="top-banner">
				<div class="container _is-fluid">
					<div class="columns is-multiline is-vcentered is-centered is-mobile">
						<div class="column has-text-centered is-12 is-size-6 is-size-7-mobile">
							<span class="icon-text">
								<span class="icon"><i class="fa-regular fa-truck-fast"></i></span>
								<span>All orders include free UK postage and free fittings!</span>
							</span>
						</div>
					</div>
				</div>
			</aside>
			{{ end -}}