<div class="whatsapp-widget">
    <button class="whatsapp-icon" title="Message us on WhatsApp" aria-label="Close chat window"></button>

    <div class="whatsapp-chat-window" aria-label="WhatsApp chat window">
        <div class="chat-header">
            <div class="profile-pic" aria-hidden="true"></div>
            <div class="chat-header-text">
                <h2>{{.Site.Params.company}}</h2>
                <p>Online</p>
            </div>
            <button class="close-chat-window" aria-label="Close chat window"></button>
        </div>

        <div class="chat-body">
            <time></time>
            <p>Hi there &#x1F44B;<br>How can we help you?</p>
            <a href="https://wa.me/{{.Site.Params.company}}"  target="_blank">
                <img src="./whatsapp-widget/whatsapp-icon.svg" alt="Whatsapp logo">
                Chat on WhatsApp
            </a>
        </div>
    </div>
</div>