<section class="why-us-banner section ">
				<div class="container _is-fluid is-fullhd">
					<div class="columns is-multiline is-variable is-6">
					{{ with .Site.Params }}
						<div class="column is-6-tablet is-6-desktop is-6-widescreen is-12-fullhd has-accent is-4 is-align-items-center is-justify-content-cnter is-flex-direction-column" data-aos="fade-in" data-aos-delay="0">
							<h2>Why trust <span>{{ .company }}</span> for your {{ .industry }}?</h2>
						</div>
						<div class="column is-6-tablet is-6-desktop is-6-widescreen is-4-fullhd" data-aos="fade-in" data-aos-delay="200">
							<h3>Approachable & Professional</h3>
							<p>We have an excellent reputation for our reliability and friendly service.</p>
						</div>
						<div class="column is-6-tablet is-6-desktop is-6-widescreen is-4-fullhd" data-aos="fade-in" data-aos-delay="400">
							<h3>Attention to Detail</h3>
							<p>We believe this attention is what elevates a garden to something truly special.</p>
						</div>
						<div class="column is-6-tablet is-6-desktop is-6-widescreen is-4-fullhd" data-aos="fade-in" data-aos-delay="600">
							<h3>Horticultural Expertise</h3>
							<p>Whether designing or digging, this expertise is at the core of everything we do..</p>
						</div>
					{{ end }}
					</div>
				</div>
			</section>