<section class="why-us-banner section ">
				<div class="container _is-fluid is-fullhd">
					<div class="columns is-multiline is-variable is-6">
					{{ with .Site.Params }}
						<div class="column is-6-tablet is-6-desktop is-6-widescreen is-12-fullhd has-accent is-4 is-align-items-center is-justify-content-cnter is-flex-direction-column" data-aos="fade-in" data-aos-delay="0">
							<h2>Why trust us?</h2>
						</div>
						<div class="column is-6-tablet is-6-desktop is-6-widescreen is-4-fullhd" data-aos="fade-in" data-aos-delay="200">
							<i class="fa-light fa-wreath-laurel"></i>
							<h3>Experienced &amp Reliable</h3>
							<p>We have years of {{ .industry }} experience in and around {{ if .county}}{{ .county}}{{ else }}{{ .towncity }}{{ end }}.</p>
						</div>
						<div class="column is-6-tablet is-6-desktop is-6-widescreen is-4-fullhd" data-aos="fade-in" data-aos-delay="400">
							<i class="fa-regular fa-helmet-safety"></i>
							<h3>Careful & Considerate</h3>
							<p>All jobs are undertaken with the utmost care and consideration for safety. </p>
						</div>
						<div class="column is-6-tablet is-6-desktop is-6-widescreen is-4-fullhd" data-aos="fade-in" data-aos-delay="600">
							<i class="fa-regular fa-star"></i>
							<h3>Customer Focused</h3>
							<p>We're known for our reputation for reliability and friendly service.</p>
						</div>
					{{ end }}
					</div>
				</div>
			</section>