  <section class="why-us-banner ">
    <div class="container is-fluid">
      <div class="columns is-multiline is-variable is-6">
        {{ with .Site.Params }}
        <div class="column is-6-tablet is-6-desktop is-6-widescreen is-3-fullhd section-title has-accent is-4 is-align-items-center is-justify-content-cnter is-flex-direction-column" data-aos="fade-in" data-aos-delay="0">
          <h2>Why trust <span>{{ .company }}</span> for your {{ .industry }} needs?</h2>
        </div>

        <div class="column is-6-tablet is-6-desktop is-6-widescreen is-3-fullhd section-item" data-aos="fade-in" data-aos-delay="200">
          <h3>{{ .years }} Years of Experience</h3>
          <p>We have been providing {{ .industry }} services to happy customers in and around {{ .towncity }} for four decades. We're proud of our reputation.</p>
        </div>

        <div class="column is-6-tablet is-6-desktop is-6-widescreen is-3-fullhd section-item" data-aos="fade-in" data-aos-delay="400">
          <h3>Quality Guaranteed</h3>
          <p>All our projects are completed to the highest quality and safety standards using long-lasting materials to ensure they stand the test of time.</p>
        </div>

        <div class="column is-6-tablet is-6-desktop is-6-widescreen is-3-fullhd section-item" data-aos="fade-in" data-aos-delay="600">
          <h3>Customer Focused</h3>
          <p>We always put our customers first. We listen carefully to your needs and come up with a solution to suit your budget and requirements.</p>
        </div>
        {{ end }}
      </div>
    </div>
  </section>