			{{- define "hero" -}}
			<section class="hero _is-large hero-index">
				<div class="hero-head">
					{{ partial "navbar.html" . }}
				</div>
			
				<div class="hero-body">
					<div class="container is-fullhd">
						<div class="columns is-centered">
							<div class="column has-text-centered is-12-desktop is-12-fullhd is-12-tablet">
								<div class="content is-size-3 has-accent" data-aos="fade-down">
									{{ .Content }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{{ end -}}

			{{- define "main" -}}
			<section class="section company-intro">
				<div class="container is-fullhd">
				{{- range where (where .Site.RegularPages "Type" "index-content") "File.Dir" "index/" }}
					<div class="columns is-vcentered is-multiline is-variable is-8">
						<div class="column is-7-desktop is-6-fullhd">
							<div class="content company-intro-content has-accent" data-aos="fade-in">
								{{ .Content }}
							</div>
						</div>

						<div class="column is-12-touch is-6-fullhd" data-aos="fade-up">
							<div class="image _has-rounded-corners">
							{{- $image := resources.Get .Params.image }}
							{{- if $image }}
								<img src='{{ ($image.Resize "x890 q50 Smart").RelPermalink }}' alt="" title=""/>
							{{ else }}
								<img src='/images/placeholder.jpg'/>
							{{- end }}
							</div>
						</div>
					</div>
				{{- end }}
				</div>
			</section>

			{{ partial "stats-row-section.html" . }}

			<section class="hero developments">
				<div class="hero-body">
					<div class="container is-fullhd">

						<div class="columns is-multiline">
							<div class="column is-8-desktop _is-offset-2-desktop is-12-fullhd _is-offset-3-fullhd is-12-tablet">
								<div class="content hero-services-content has-accent" data-aos="fade-down">
									<h2>Current Developments</h2>
									<p>We have a number of modern developments currently in the works.</p>
								</div>
							</div>
						</div>

						<div class="columns is-multiline">
							<div class="column is-12-tablet is-4-desktop">
								<div class="content">
									<img 
										src='/images/southwark-london-se15.jpg' 
										alt="" 
										title=""
									/>
									<h3>Southwark London SE15</h3>
									<ul>
										<li>Acquisition Price: £6 Million</li>
										<li>Projected build cost: £22 Million</li>
										<li>Projected Build: 62,430 Sq. Ft</li>
										<li>GDV Projected: £55 Million</li>
									</ul>
									<p>(Subject to planning and further due diligence)</p>
								</div>
							</div>
							<div class="column is-12-tablet is-4-desktop">
								<div class="content">
									<img 
										src='/images/southwark-london-se17.jpg' 
										alt="" 
										title=""
									/>
									<h3>Southwark London SE17</h3>
									<ul>
										<li>Projected Acquisition: £17Million</li>
										<li>Projected Build 393,525 Sq. Ft</li>
										<li>Build Cost: £86.5Million</li>
										<li>Gross Development Value: £165</li>
										<li>Million: £170 million</li>
									</ul>
								</div>
							</div>
							<div class="column is-12-tablet is-4-desktop">
								<div class="content">
									<img 
										src='/images/peckham-rye-se15.jpg' 
										alt="" 
										title=""
									/>
									<h3>Stepney London E1</h3>
									<ul>
										<li>Acquisition: £10.5Million</li>
										<li>Projected Build 35,654 Sq. Ft</li>
										<li>Projected Build Cost: £10,500Milion</li>
										<li>GDV: £35,500Million</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>

			<section class="section locations">
				<div class="container is-fullhd">
					<div class="columns is-multiline">
						<div class="column is-8-desktop _is-offset-2-desktop is-12-fullhd _is-offset-3-fullhd is-12-tablet">
							<div class="content hero-services-content has-accent" data-aos="fade-down">
								</div>
						</div>
					</div>
					
					<div class="columns is-multiline is-vcentered">
						<div class="column is-12-tablet is-5-desktop">
							<div class="content" data-aos="fade-left">
								<h2>Strategic Locations</h2>
								<p>Currently there are a numberous development opportunities we have identified in several London boroughs.</p>
								<ul>
									<li>Southwark: 7 Sites</li>
									<li>Lambeth : 2 Sites</li>
									<li>Camden: 2 Sites</li>
									<li>Lewisham: 3 Sites</li>
									<li>Tower Hamlet: 3 Sites</li>
									<li>Ealing: 2 Sites</li>
									<li>Hillingdon: 1 Site</li>
								</ul>
							</div>
						</div>
						<div class="column">
							<figure class="image mr-0">
								<img src="images/locations.jpg">
							</figure>
						</div>
					</div>
				</div>
			</section>
			{{- end }}

	{{- define "scripts" -}}
		<script src="js/simple-lightbox.min.js?v2.11.0"></script>
		<script>
			(function() {
				var $gallery = new SimpleLightbox('.gallery a', {
				scrollZoom : false,
				captions: false,
				overlayOpacity : 0.95,
				disableScroll: false,
			});
		})();
		</script>
	{{ end }}