								<script
								src="https://www.paypal.com/sdk/js?client-id=AfHtT76JS9fGRm8ZE4-VD5xfjavoHV7r4xLkuDqdqdrOuN_y1y0e0RXAKm-YwUbg8QGrDXCJmIk--MWh&components=buttons&currency=GBP">
								</script>


								<div class="_is-inline-block">
									<div id="paypal-button-container">
										<div class="select is-medium is-rounded mb-4">
											<select id="quantity">
												<option value="25" price="0.01" desc="Surface Water Tags (Blue)- Qty 25">QTY: 25 | £125</option>
												<option value="50" price="0.02" desc="Surface Water Tags (Blue)- Qty 50">QTY: 50 | £225</option>
												<option value="100" price="0.03" desc="Surface Water Tags (Blue)- Qty 100">QTY: 100 | £375</option>
											</select>
										</div>
									</div>
								</div>


								<div id="paypal-button-container"></div>
								<script src="../js/paypal-button.js"></script>
