<!DOCTYPE html>
{{ "<!--[if lt IE 7]>      <html class='no-js lt-ie9 lt-ie8 lt-ie7'> <![endif]-->" | safeHTML }}
{{ "<!--[if IE 7]>         <html class='no-js lt-ie9 lt-ie8'> <![endif]-->" | safeHTML }}
{{ "<!--[if IE 8]>         <html class='no-js lt-ie9'> <![endif]-->" | safeHTML }}
{{ "<!--[if gt IE 8]>      <html class='no-js'> <![endif]-->" | safeHTML }}
<html>
	<head class="has-navbar">
	{{ partial "meta.html" . }}
	</head>

	<body>
		{{ block "header" . -}}
		<header>
			{{ block "hero" . -}}
			<section class="hero is-medium">
				
				{{ partial "hero/hero-image-navbar.html" . }}
				
			</section>
			{{ end }}
		</header>
		{{ end }}


		<main>
			{{ block "main" . }}
			{{ end }} 
		</main>
		

		<footer class="site-footer">
			{{ partial "site-footer-icons.html" . }}
		</footer>


		{{ "<!-- Contact Form Pop-up -->" | safeHTML }}
		{{ partial "quote-modal.html" . }}



		{{ "<!-- Scripts -->" | safeHTML }}
		<script src="/js/site.js"></script>
		<script src="http://code.jquery.com/jquery.min.js"></script>
		<script src="https://kit.fontawesome.com/590b99fc1d.js" crossorigin="anonymous"></script>

		{{ "<!-- Animate on Scroll -->" | safeHTML }}
		<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<script>
			AOS.init();
		</script>

		{{ "<!-- Lightbox -->" | safeHTML }}
		<script src="js/simple-lightbox.min.js?v2.11.0"></script>
		<script>
			(function() {
				var $gallery = new SimpleLightbox('.gallery a', {
				scrollZoom : false,
				captions: false,
				overlayOpacity : 0.95,
				disableScroll: false,
			});
		})();
		</script>

		{{ "<!-- Vegas BG Slider -->" | safeHTML }}
		<script src="./js/vegas/vegas.min.js"></script>
		<script>
			$(".vegas-slides").vegas({
				slides: [
					{ src: "./images/slider/slide1.jpg" },
					{ src: "./images/slider/slide2.jpg" },
					{ src: "./images/slider/slide3.jpg" }
				],
				overlay: true,
			});
		</script>
		
		{{ block "scripts" . }}
		{{- end }}
	</body>
</html>