{{ define "hero" }}
<section class="hero is-medium">
	<div class="hero-head">
		{{ if .Site.Params.servicePages }}
			{{ partial "navbar-dropdown.html" . }}
		{{ else }}
			{{ partial "navbar.html" . }}
		{{end }}
		</div>
	
		<!-- Hero content: will be in the middle -->
		<div class="hero-body">
			<div class="container is-fullhd">
				<div class="columns is-centered">
					<div class="column is-12-desktop is-8-fullhd is-12-tablet">
						<div class="content has-accent" data-aos="fade-down">
							<h1>{{.Title}}</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
{{ end }}

{{ define "main" }}	
<article class="section">
	<div class="container is-fullhd">
		<div class="columns is-centered">
			<div class="column is-8-desktop is-7-fullhd is-12-tablet">
				<div class="content policy-content">
					{{ .Content }}
				</div>
			</div>
		</div>
	</div>
</article>
{{ end }}

{{ define "scripts" }}
<!-- Page specific scripts -->
{{ end }}